/* ==========================================================================
   Material design - Button
   ========================================================================== */
:host {
    display: inline-block;
}

:host(:focus) {
    outline: none;
}

:host([disabled]) {
    pointer-events: none;
    cursor: auto;
}

:host([hidden]) {
    display: none;
}

.md-button {
    position: relative;
    display: block;
    height: 36px;
    padding: 0 16px;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    letter-spacing: var(--letter-spacing-button);
    line-height: 36px;
    text-align: center;
    text-transform: var(--text-transform-button);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-text-primary-on-background);
    background-color: transparent;
    border: none;
    border-radius: 2px;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.md-button:hover,
.md-button:focus {}

.md-button:active,
.md-button.is-pressed {}

.md-button.is-disabled {
    color: rgba(0, 0, 0, .37);
    pointer-events: none;
    cursor: auto;
}

.md-button::before,
.md-button::after {
    position: absolute;
    background-color: currentColor;
    opacity: 0;
    pointer-events: none;
    content: "";
}

.md-button::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 15ms linear;
    will-change: opacity;
}

.md-button:hover::before {
    opacity: .04;
}

.md-button:focus::before {
    opacity: .12;
}

.md-button::after {
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    transform: scale(.25) translate(-50%, -50%);
    transform-origin: 0 0;
    transition:
            opacity 150ms linear,
            transform 0ms linear 150ms;
    will-change: opacity, transform;
}

.md-button:active::after,
.md-button.is-pressed::after {
    opacity: .16;
    transform: scale(1.2) translate(-50%, -50%);
    transition:
            opacity 75ms linear,
            transform 225ms var(--transition-standart-easing);
}

/* Theme: Primary
   ========================================================================== */
.md-button--theme-primary {}

/* Theme: Secondary
   ========================================================================== */
.md-button--theme-secondary {}

/* Type: Contained
   ========================================================================== */
.md-button--type-contained {
    color: var(--color-text-primary-on-light);
    background-color: var(--color-light);
}

.md-button--type-contained:hover,
.md-button--type-contained:focus {}

.md-button--type-contained:active,
.md-button--type-contained.is-pressed {}

.md-button--type-contained.is-disabled {
    color: rgba(0, 0, 0, .37);
    background-color: rgba(0, 0, 0, .12);
}

.md-button--type-contained:hover::before {
    opacity: .08;
}

.md-button--type-contained:focus::before {
    opacity: .24;
}

.md-button--type-contained:active::after,
.md-button--type-contained.is-pressed::after {
    opacity: .32;
}

/* Type: Raised
   ========================================================================== */
.md-button--type-raised {
    color: var(--color-text-primary-on-light);
    background-color: var(--color-light);
    box-shadow: var(--shadow-elevation-2);
    transition: box-shadow 280ms var(--transition-standart-easing);
}

.md-button--type-raised:hover,
.md-button--type-raised:focus {
    box-shadow: var(--shadow-elevation-4);
}

.md-button--type-raised:active,
.md-button--type-raised.is-pressed {
    box-shadow: var(--shadow-elevation-8);
}

.md-button--type-raised.is-disabled {
    color: rgba(0, 0, 0, .37);
    background-color: rgba(0, 0, 0, .12);
    box-shadow: none;
}

.md-button--type-raised:hover::before {
    opacity: .08;
}

.md-button--type-raised:focus::before {
    opacity: .24;
}

.md-button--type-raised:active::after,
.md-button--type-raised.is-pressed::after {
    opacity: .32;
}

/* Type: Outlined
   ========================================================================== */
.md-button--type-outlined {
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid rgba(0, 0, 0, .37);
}

.md-button--type-outlined:hover,
.md-button--type-outlined:focus {}

.md-button--type-outlined:active,
.md-button--type-outlined.is-pressed {}

.md-button--type-outlined.is-disabled {
    color: rgba(0, 0, 0, .37);
    border-color: rgba(0, 0, 0, .37);
}

.md-button--type-outlined:hover::before {
    opacity: .04;
}

.md-button--type-outlined:focus::before {
    opacity: .12;
}

.md-button--type-outlined:active::after,
.md-button--type-outlined.is-pressed::after {
    opacity: .16;
}