/* ==========================================================================
   Material design - Switch
   ========================================================================== */
:host {
    display: inline-block;
}

:host(:focus) {
    outline: none;
}

:host([disabled]) {
    pointer-events: none;
    cursor: auto;
}

:host([hidden]) {
    display: none;
}

.md-switch {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 34px;
    height: 20px;
    padding: 3px 0;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.md-switch.is-checked {}

.md-switch.is-disabled {}

.md-switch__bar {
    width: 100%;
    height: 14px;
    border-radius: 7px;
    background-color: #000;
    opacity: .38;
    transition:
            background-color 90ms var(--transition-standart-easing),
            opacity 90ms var(--transition-standart-easing);
}

.md-switch.is-checked .md-switch__bar {
    background-color: var(--color-primary);
    opacity: .5;
}

.md-switch.is-disabled .md-switch__bar {
    background-color: #000;
    opacity: .12;
}

.md-switch.is-disabled.is-checked .md-switch__bar {
    background-color: var(--color-primary);
    opacity: .12;
}

.md-switch__button {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-2);
    transform: translateX(0);
    transition:
            background-color 90ms var(--transition-standart-easing),
            transform 90ms var(--transition-standart-easing);
    will-change: transform;
}

.md-switch.is-checked .md-switch__button {
    background-color: var(--color-primary);
    transform: translateX(14px);
}

.md-switch.is-disabled .md-switch__button {
    background-color: #bdbdbd;
}

.md-switch.is-disabled.is-checked .md-switch__button {
    background-color: var(--color-primary);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .54), rgba(255, 255, 255, .54));
}

.md-switch .md-switch__button::before {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    z-index: 2;
    width: 48px;
    height: 48px;
    background-color: #9e9e9e;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition:
            background-color 90ms var(--transition-standart-easing),
            opacity 90ms var(--transition-standart-easing),
            transform 90ms var(--transition-standart-easing);
    will-change: background-color, opacity, transform;
    pointer-events: none;
    content: "";
}

.md-switch:hover .md-switch__button::before,
.md-switch:focus .md-switch__button::before {
    transform: scale(1);
}

.md-switch:hover .md-switch__button::before {
    opacity: .03;
}

.md-switch:focus .md-switch__button::before {
    opacity: .12;
}

.md-switch:active .md-switch__button::before,
.md-switch.is-pressed .md-switch__button::before {
    opacity: .16;
}

.md-switch.is-checked .md-switch__button::before {
    background-color: var(--color-primary);
    opacity: .07;
}

.md-switch.is-checked:focus .md-switch__button::before {
    opacity: .12;
}

.md-switch.is-checked:active .md-switch__button::before,
.md-switch.is-checked.is-pressed .md-switch__button::before {
    opacity: .15;
}