/* ==========================================================================
   Material design - Headline
   ========================================================================== */
:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.md-headline {}

.md-headline--type-h1 {
    font-size: var(--font-size-headline-1);
    font-weight: var(--font-weight-headline-1);
    letter-spacing: var(--letter-spacing-headline-1);
    line-height: var(--line-height-headline-1);
    text-transform: var(--text-transform-headline-1);
}

.md-headline--type-h2 {
    font-size: var(--font-size-headline-2);
    font-weight: var(--font-weight-headline-2);
    letter-spacing: var(--letter-spacing-headline-2);
    line-height: var(--line-height-headline-2);
    text-transform: var(--text-transform-headline-2);
}

.md-headline--type-h3 {
    font-size: var(--font-size-headline-3);
    font-weight: var(--font-weight-headline-3);
    letter-spacing: var(--letter-spacing-headline-3);
    line-height: var(--line-height-headline-3);
    text-transform: var(--text-transform-headline-3);
}

.md-headline--type-h4 {
    font-size: var(--font-size-headline-4);
    font-weight: var(--font-weight-headline-4);
    letter-spacing: var(--letter-spacing-headline-4);
    line-height: var(--line-height-headline-4);
    text-transform: var(--text-transform-headline-4);
}

.md-headline--type-h5 {
    font-size: var(--font-size-headline-5);
    font-weight: var(--font-weight-headline-5);
    letter-spacing: var(--letter-spacing-headline-5);
    line-height: var(--line-height-headline-5);
    text-transform: var(--text-transform-headline-5);
}

.md-headline--type-h6 {
    font-size: var(--font-size-headline-6);
    font-weight: var(--font-weight-headline-6);
    letter-spacing: var(--letter-spacing-headline-6);
    line-height: var(--line-height-headline-6);
    text-transform: var(--text-transform-headline-6);
}