
.md-text-field {
    position: relative;
    display: block;
    padding-top: 8px;
}
.md-text-field__label {
    display: block;
    overflow: hidden;
    padding-top: 8px;
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-text-color);
    pointer-events: none;
    transition:
            font-size .3s ease,
            transform .3s ease;
}
.md-text-field:focus-within .md-text-field__label {
    color: var(--primary-color-500);
}
.md-text-field.is-invalid .md-text-field__label {
    color: var(--error-color);
}
.md-text-field.is-blank:not(:focus-within) .md-text-field__label:not(.is-fixed) {
    font-size: 16px;
    transform: translateY(23px);
}
.md-text-field__control {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
}
.md-text-field:focus-within .md-text-field__control {
    border-bottom-color: var(--primary-color-500);
}
.md-text-field.is-invalid .md-text-field__control {
    border-bottom-color: var(--error-color);
}
/* @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src:
            local('Roboto Light'),
            local('Roboto-Light'),
            url('./fonts/roboto-light.woff2') format('woff2'),
            url('./fonts/roboto-light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
            local('Roboto'),
            local('Roboto-Regular'),
            url('./fonts/roboto-regular.woff2') format('woff2'),
            url('./fonts/roboto-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
            local('Roboto Medium'),
            local('Roboto-Medium'),
            url('./fonts/roboto-medium.woff2') format('woff2'),
            url('./fonts/roboto-medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
            local('Roboto Bold'),
            local('Roboto-Bold'),
            url('./fonts/roboto-bold.woff2') format('woff2'),
            url('./fonts/roboto-bold.woff') format('woff');
} */

:root {
    /* Primary color */
    --primary-color-50:   #e8f5e9;
    --primary-color-100:  #c8e6c9;
    --primary-color-200:  #a5d6a7;
    --primary-color-300:  #81c784;
    --primary-color-400:  #66bb6a;
    --primary-color-500:  #4caf50;
    --primary-color-600:  #43a047;
    --primary-color-700:  #388e3c;
    --primary-color-800:  #2e7d32;
    --primary-color-900:  #1b5e20;
    --primary-color-A100: #b9f6ca;
    --primary-color-A200: #69f0ae;
    --primary-color-A400: #00e676;
    --primary-color-A700: #00c853;

    /* Primary contrast color */
    --primary-color-50-contrast:   rgba(0, 0, 0, .87);
    --primary-color-100-contrast:  rgba(0, 0, 0, .87);
    --primary-color-200-contrast:  rgba(0, 0, 0, .87);
    --primary-color-300-contrast:  rgba(0, 0, 0, .87);
    --primary-color-400-contrast:  rgba(0, 0, 0, .87);
    --primary-color-500-contrast:  rgba(0, 0, 0, .87);
    --primary-color-600-contrast:  rgba(255, 255, 255, .87);
    --primary-color-700-contrast:  rgba(255, 255, 255, .87);
    --primary-color-800-contrast:  rgba(255, 255, 255, .87);
    --primary-color-900-contrast:  rgba(255, 255, 255, .87);
    --primary-color-A100-contrast: rgba(0, 0, 0, .87);
    --primary-color-A200-contrast: rgba(0, 0, 0, .87);
    --primary-color-A400-contrast: rgba(0, 0, 0, .87);
    --primary-color-A700-contrast: rgba(0, 0, 0, .87);

    /* Secondary color */
    --secondary-color-50:   #fce4ec;
    --secondary-color-100:  #f8bbd0;
    --secondary-color-200:  #f48fb1;
    --secondary-color-300:  #f06292;
    --secondary-color-400:  #ec407a;
    --secondary-color-500:  #e91e63;
    --secondary-color-600:  #d81b60;
    --secondary-color-700:  #c2185b;
    --secondary-color-800:  #ad1457;
    --secondary-color-900:  #880e4f;
    --secondary-color-A100: #ff80ab;
    --secondary-color-A200: #ff4081;
    --secondary-color-A400: #f50057;
    --secondary-color-A700: #c51162;

    /* Secondary contrast color */
    --secondary-color-50-contrast:   rgba(0, 0, 0, .87);
    --secondary-color-100-contrast:  rgba(0, 0, 0, .87);
    --secondary-color-200-contrast:  rgba(0, 0, 0, .87);
    --secondary-color-300-contrast:  rgba(0, 0, 0, .87);
    --secondary-color-400-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-500-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-600-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-700-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-800-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-900-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-A100-contrast: rgba(0, 0, 0, .87);
    --secondary-color-A200-contrast: rgba(255, 255, 255, .87);
    --secondary-color-A400-contrast: rgba(255, 255, 255, .87);
    --secondary-color-A700-contrast: rgba(255, 255, 255, .87);

    /* Цвета текста в светлой теме (светлый фон, темный текс) */
    --page-background-color:      #efefef;
    --primary-background-color:   #fefefe;
    --primary-text-color:         rgba(0, 0, 0, .87);
    --secondary-text-color:       rgba(0, 0, 0, .54);
    --disabled-text-color:        rgba(0, 0, 0, .38);
    --divider-color:              rgba(0, 0, 0, .12);
    --error-color:                #f00;

    /* Shadow */
    --shadow-elevation-1:
            0 0 2px rgba(0, 0, 0, .14),
            0 2px 2px rgba(0, 0, 0, .12),
            0 1px 3px rgba(0, 0, 0, .2);
    --shadow-elevation-2:
            0 0 4px rgba(0, 0, 0, .14),
            0 3px 4px rgba(0, 0, 0, .12),
            0 1px 5px rgba(0, 0, 0, .2);
    --shadow-elevation-3:
            0 3px 3px rgba(0, 0, 0, .14),
            0 3px 4px rgba(0, 0, 0, .12),
            0 1px 8px rgba(0, 0, 0, .2);
    --shadow-elevation-4:
            0 2px 4px rgba(0, 0, 0, .14),
            0 4px 5px rgba(0, 0, 0, .12),
            0 1px 10px rgba(0, 0, 0, .2);
    --shadow-elevation-6:
            0 6px 10px rgba(0, 0, 0, .14),
            0 1px 18px rgba(0, 0, 0, .12),
            0 3px 5px rgba(0, 0, 0, .2);
    --shadow-elevation-8:
            0 8px 10px 1px rgba(0, 0, 0, .14),
            0 3px 14px 3px rgba(0, 0, 0, .12),
            0 4px 15px rgba(0, 0, 0, .2);
    --shadow-elevation-9:
            0 9px 12px 1px rgba(0, 0, 0, .14),
            0 3px 16px 2px rgba(0, 0, 0, .12),
            0 5px 6px rgba(0, 0, 0, .2);
    --shadow-elevation-12:
            0 12px 17px 2px rgba(0, 0, 0, .14),
            0 5px 22px 4px rgba(0, 0, 0, .12),
            0 7px 8px rgba(0, 0, 0, .2);
    --shadow-elevation-16:
            0 16px 24px 2px rgba(0, 0, 0, .14),
            0 6px 30px 5px rgba(0, 0, 0, .12),
            0 8px 10px rgba(0, 0, 0, .2);
    --shadow-elevation-24:
            0 24px 38px 3px rgba(0, 0, 0, .14),
            0 9px 46px 8px rgba(0, 0, 0, .12),
            0 11px 15px rgba(0, 0, 0, .2);

    /* Transition */
    --transition-standart-easing: 	  cubic-bezier(.4, 0, .2, 1);
    --transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
    --transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
    --transition-sharp-easing: 		  cubic-bezier(.4, 0, .6, 1);

    /* Fonts */
    --font-family-base: Roboto, Arial, sans-seri;
    --font-size-base: 14px;

    /* Padding */
    --pad-sm: 8px;
    --pad: 16px;
}

html {
    height: 100%;
    font-size: var(--font-size-base);
    line-height: calc(20 / 14);
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: var(--font-family-base);
    color: var(--primary-text-color);
    background-color: var(--page-background-color);
}
.app-bar {
}
.app-bar__content {
    flex-grow: 1;
    min-width: 0;
    margin-left: 20px;
}
.app-bar__content:first-child {
    margin-left: 12px;
}
.app-bar__content:not(:last-child) {
    margin-right: 12px;
}
.app-bar__action {
    display: flex;
    align-self: center;
    margin-left: auto;
}

.md-toolbar {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 4px;
}

/* Tablet */
@media (min-width: 768px) {
.md-toolbar {
        height: 64px;
        padding: 0 12px;
}
}

.app-page-layout {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas:
            "header"
            "body";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    align-content: start;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--page-background-color);
}
.app-page-layout__header {
    position: relative;
    display: block;
    grid-area: header;
    color: var(--primary-color-500-contrast);
    background-color: var(--primary-color-500);
    box-shadow: var(--shadow-elevation-4);
    z-index: 4;
}
.app-page-layout__body {
    grid-area: body;
}
.app-page-layout__action {
    position: fixed;
    right: var(--pad);
    bottom: var(--pad);
    z-index: 10;
}

.app-stub {
    box-sizing: border-box;
    display: grid;
    grid-row-gap: 8px;
    align-content: center;
    justify-items: center;
    height: 100%;
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--secondary-text-color);
}
.app-stub__image {
    box-sizing: border-box;
    position: relative;
    width: 150px;
    height: 150px;
    padding: 24px;
    background-color: var(--divider-color);
    border-radius: 500rem;
}
.app-stub__icon {
    width: 100%;
    height: 100%;
    color: var(--disabled-text-color);
}
.app-stub__heading {
    font-size: 24px;
    line-height: 32px;
}
.app-stub__text {
}

.md-icon {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 24px;
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

.md-icon-button {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 12px;
    color: inherit;
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
}
.md-icon-button:hover,
.md-icon-button:focus {
}
.md-icon-button:active {
}
.md-icon-button[disabled] {
    cursor: auto;
    pointer-events: none;
    opacity: .54;
}
.md-icon-button[hidden] {
    display: none;
}

.md-fab {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 16px;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-6);
    -webkit-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
    transition:
            color .3s ease,
            background-color .3s ease,
            box-shadow .3s ease;
}
.md-fab:hover,
.md-fab:focus {
}
.md-fab:active {
    box-shadow: var(--shadow-elevation-12);
}
.md-fab[disabled] {
    cursor: auto;
    pointer-events: none;
    opacity: .54;
}
.md-fab[hidden] {
    display: none;
}
.md-fab--primary {
    color: var(--primary-color-500-contrast);
    background-color: var(--primary-color-500);
}
.md-fab--secondary {
    color: var(--secondary-color-500-contrast);
    background-color: var(--secondary-color-500);
}

.md-paper {
    box-sizing: border-box;
    display: block;
    background-color: var(--primary-background-color);
    box-shadow: var(--shadow-elevation-2);
}

.md-title {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

































































































































.md-select-field {
    position: relative;
    display: block;
    padding-top: 8px;
}
.md-select-field__label {
    display: block;
    overflow: hidden;
    padding-top: 8px;
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-text-color);
    pointer-events: none;
    transition:
            font-size .3s ease,
            transform .3s ease;
}
.md-select-field:focus-within .md-select-field__label {
    color: var(--primary-color-500);
}
.md-select-field.is-invalid .md-select-field__label {
    color: var(--error-color);
}
.md-select-field.is-blank:not(:focus-within) .md-select-field__label:not(.is-fixed) {
    font-size: 16px;
    transform: translateY(23px);
}
.md-select-field__control {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
}
.md-select-field:focus-within .md-select-field__control {
    border-bottom-color: var(--primary-color-500);
}
.md-select-field.is-invalid .md-select-field__control {
    border-bottom-color: var(--error-color);
}
.md-select-field__select {
}

.md-select {
    box-sizing: border-box;
    position: relative;
    display: block;
}
.md-select__button {
    box-sizing: border-box;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 32px;
    padding: 4px 24px 4px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary-text-color);
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
}
.md-select__placeholder {
    color: var(--secondary-text-color);
}
.md-select.is-invalid .md-select__placeholder {
    color: var(--error-color);
}
.md-select__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    color: var(--disabled-text-color);
    transform: translateY(-50%);
    pointer-events: none;
}
.md-select__select {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    background-clip: padding-box;
    opacity: 0;
}

.app {
    animation: fade-in .25s ease-in-out;
}
@keyframes fade-in {
0%{
        opacity: 0;
}
100%{
        opacity: 1;
}
}
.forward-enter {
}
.forward-enter-active {
    transform: translateY(50px);
    opacity: 0;
    transition:
            opacity .225s var(--transition-deceleration-easing),
            transform .225s var(--transition-deceleration-easing);
}
.forward-enter-to {
    transform: translateY(0px);
    opacity: 1;
}
.forward-leave {
}
.forward-leave-active {
    transition: opacity .225s;
}
.forward-leave-to {
}
.back-enter {
}
.back-enter-active {
}
.back-enter-to {
}
.back-leave {
}
.back-leave-active {
    z-index: 2;
    transform: translateY(0px);
    opacity: 1;
    transition:
            opacity .225s var(--transition-acceleration-easing),
            transform .225s var(--transition-acceleration-easing);
}
.back-leave-to {
    transform: translateY(50px);
    opacity: 0;
}

.md-input {
    display: block;
}
.md-input__control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition: color .3s ease;
}
.md-input__control::-webkit-input-placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
}
.md-input__control::placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
}
.md-input__control:focus {
}
.md-input__control:disabled {
}
.md-input.is-invalid .md-input__control::-webkit-input-placeholder {
    color: var(--error-color);
}
.md-input.is-invalid .md-input__control::placeholder {
    color: var(--error-color);
}

























































































































































































































.transaction-list {
}
.transaction-list__item {
}

.md-list {
    box-sizing: border-box;
    display: block;
    padding-top: var(--pad-sm);
    padding-bottom: var(--pad-sm);
}

.transaction-item {
}
.transaction-item__content {
    display: grid;
    grid-template-areas: "image note amount";
    grid-template-columns: 40px auto 100px;
    grid-column-gap: 16px;
    align-items: center;
}
.transaction-item__image {
    grid-area: image;
}
.transaction-item__note,
.transaction-item__amount {
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.transaction-item__note {
    grid-area: note;
}
.transaction-item__amount {
    grid-area: amount;
    font-weight: 500;
    text-align: right;
}

.md-avatar {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .38);
    border-radius: 50%;
}

.md-list-item {
    box-sizing: border-box;
    position: relative;
    display: grid;
    align-items: center;
    min-height: 48px;
    padding: 12px var(--pad);
}
.md-list-item__content {
}

































































































.info-item {
}
.info-item__content {
    display: grid;
    grid-template-areas:
            "icon title"
            "icon text";
    grid-template-columns: 40px auto;
    grid-column-gap: 16px;
    align-items: center;
}
.info-item__icon {
    grid-area: icon;
    vertical-align: top;
    opacity: .54;
}
.info-item__title {
    grid-area: title;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
}
.info-item__text {
    grid-area: text;
    font-size: 16px;
    line-height: 24px;
}




























































































































.wallet-list {
}
.wallet-list__item {
}

.wallet-item {
}
.wallet-item__content {
    display: grid;
    grid-template-areas:
            "image name"
            "image balance";
    grid-template-columns: 40px auto;
    grid-column-gap: 16px;
    align-items: center;
}
.wallet-item__image {
    grid-area: image;
}
.wallet-item__name,
.wallet-item__balance {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wallet-item__name {
    grid-area: name;
    font-size: 16px;
    line-height: 24px;
}
.wallet-item__balance {
    grid-area: balance;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
}
