
.base-divider {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid var(--color-divider-on-background)
}


.base-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 160;
}
.base-drawer:not(.is-open) {
  pointer-events: none;
}
.base-drawer__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  cursor: pointer;
  -webkit-transition: opacity .25s var(--transition-standart-easing);
  transition: opacity .25s var(--transition-standart-easing);
}
.base-drawer:not(.is-open) .base-drawer__backdrop {
  opacity: 0;
}
.base-drawer__container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 280px;
  height: 100%;
  overflow: auto;
  background-color: var(--color-surface);
  -webkit-box-shadow: var(--shadow-elevation-16);
          box-shadow: var(--shadow-elevation-16);
  -webkit-transition:
    -webkit-box-shadow .25s var(--transition-standart-easing),
    -webkit-transform .25s var(--transition-standart-easing);
  transition:
    -webkit-box-shadow .25s var(--transition-standart-easing),
    -webkit-transform .25s var(--transition-standart-easing);
  transition:
    box-shadow .25s var(--transition-standart-easing),
    transform .25s var(--transition-standart-easing);
  transition:
    box-shadow .25s var(--transition-standart-easing),
    transform .25s var(--transition-standart-easing),
    -webkit-box-shadow .25s var(--transition-standart-easing),
    -webkit-transform .25s var(--transition-standart-easing);
}
.base-drawer:not(.is-open) .base-drawer__container {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}


.base-navigation-list {
  display: grid;
  grid-row-gap: 8px;
  padding: 8px;
}


.base-icon {
  --size: 24px;
  position: relative;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  vertical-align: top;
  opacity: 1;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}


.base-navigation-item {
  position: relative;
  display: grid;
  grid-template-areas: "icon title";
  grid-template-columns: 56px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 8px;
  font-size: var(--font-size-subtitle-2);
  font-weight: var(--font-weight-subtitle-2);
  line-height: var(--line-height-subtitle-2);
  letter-spacing: var(--letter-spacing-subtitle-2);
  border-radius: 3px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}
.base-navigation-item.is-pressed {
  color: var(--color-primary);
}
.base-navigation-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  pointer-events: none;
}
.base-navigation-item:hover::before {
  opacity: .04;
}
.base-navigation-item:focus::before {
  opacity: .12;
}
.base-navigation-item:active::before {
  opacity: .26;
}
.base-navigation-item.is-pressed::before {
  background-color: var(--color-primary);
  opacity: .12;
}
.base-navigation-item__icon {
  position: relative;
  grid-area: icon;
  opacity: .6;
}
.base-navigation-item.is-pressed .base-navigation-item__icon {
  opacity: 1;
}
.base-navigation-item__title {
  position: relative;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.navigation-drawer {
}
.navigation-drawer__header {
  height: 150px;
  background-color: var(--color-primary);
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Google Sans Regular'),
    local('GoogleSans-Regular'),
    url(../fonts/GoogleSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('Google Sans Medium'),
    local('GoogleSans-Medium'),
    url(../fonts/GoogleSans-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src:
    local('Roboto Thin'),
    local('Roboto-Thin'),
    url(../fonts/Roboto-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    url(../fonts/Roboto-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url(../fonts/Roboto-Bold.woff2) format('woff2');
}

/* ==========================================================================
   Variables
   ========================================================================== */
:root {
  /* Color */
  --color-primary: #3f51b5;
  --color-primary-light: #c5cae9;
  --color-primary-dark: #303f9f;
  --color-secondary: #ff4081;
  --color-secondary-light: '';
  --color-secondary-dark: '';
  --color-background: #fff;
  --color-surface: #fff;
  --color-error: #b00020;
  --color-light: #ddd;
  --color-dark: #1d1d1d;

  --color-expense: #d32f2f;
  --color-income: #689f38;

  --color-on-primary: #fff;
  --color-on-primary-light: #fff;
  --color-on-primary-dark: #fff;
  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #000;
  --color-on-background: #000;
  --color-on-surface: #000;
  --color-on-error: #fff;
  --color-on-light: #000;
  --color-on-dark: #fff;

  --color-text-primary-on-background: rgba(0, 0, 0, .87);
  --color-text-secondary-on-background: rgba(0, 0, 0, .54);
  --color-text-hint-on-background: rgba(0, 0, 0, .38);
  --color-text-disabled-on-background: rgba(0, 0, 0, .38);
  --color-text-primary-on-light: rgba(0, 0, 0, .87);
  --color-text-secondary-on-light: rgba(0, 0, 0, .54);
  --color-text-hint-on-light: rgba(0, 0, 0, .38);
  --color-text-disabled-on-light: rgba(0, 0, 0, .38);
  --color-text-primary-on-dark: #fff;
  --color-text-secondary-on-dark: rgba(255, 255, 255, .7);
  --color-text-hint-on-dark: rgba(255, 255, 255, .5);
  --color-text-disabled-on-dark: rgba(255, 255, 255, .5);

  --color-divider-on-background: rgba(0, 0, 0, .12);

  /* Typography */
  --font-famifly: Google Sans, Roboto, sans-serif;

  --font-size-headline-1: 96px;
  --font-size-headline-2: 60px;
  --font-size-headline-3: 48px;
  --font-size-headline-4: 34px;
  --font-size-headline-5: 24px;
  --font-size-headline-6: 20px;
  --font-size-subtitle-1: 16px;
  --font-size-subtitle-2: 14px;
  --font-size-body-1: 16px;
  --font-size-body-2: 14px;
  --font-size-button: 14px;
  --font-size-caption: 12px;
  --font-size-overline: 12px;

  --font-weight-headline-1: 300;
  --font-weight-headline-2: 300;
  --font-weight-headline-3: 400;
  --font-weight-headline-4: 400;
  --font-weight-headline-5: 400;
  --font-weight-headline-6: 500;
  --font-weight-subtitle-1: 400;
  --font-weight-subtitle-2: 500;
  --font-weight-body-1: 400;
  --font-weight-body-2: 400;
  --font-weight-button: 500;
  --font-weight-caption: 400;
  --font-weight-overline: 400;

  --letter-spacing-headline-1: -1.5px;
  --letter-spacing-headline-2: -.5px;
  --letter-spacing-headline-3: 0;
  --letter-spacing-headline-4: .25px;
  --letter-spacing-headline-5: 0;
  --letter-spacing-headline-6: .15px;
  --letter-spacing-subtitle-1: .15px;
  --letter-spacing-subtitle-2: .1px;
  --letter-spacing-body-1: .5px;
  --letter-spacing-body-2: .25px;
  --letter-spacing-button: .75px;
  --letter-spacing-caption: .4px;
  --letter-spacing-overline: 1.5px;

  --line-height-headline-1: 96px;
  --line-height-headline-2: 60px;
  --line-height-headline-3: 50px;
  --line-height-headline-4: 40px;
  --line-height-headline-5: 32px;
  --line-height-headline-6: 32px;
  --line-height-subtitle-1: 28px;
  --line-height-subtitle-2: 22px;
  --line-height-body-1: 24px;
  --line-height-body-2: 20px;
  --line-height-button: 24px;
  --line-height-caption: 20px;
  --line-height-overline: 32px;

  --text-transform-headline-1: none;
  --text-transform-headline-2: none;
  --text-transform-headline-3: none;
  --text-transform-headline-4: none;
  --text-transform-headline-5: none;
  --text-transform-headline-6: none;
  --text-transform-subtitle-1: none;
  --text-transform-subtitle-2: none;
  --text-transform-body-1: none;
  --text-transform-body-2: none;
  --text-transform-button: none;
  --text-transform-caption: none;
  --text-transform-overline: uppercase;

  /* Shadow */
  --shadow-elevation-1:
    0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);;
  --shadow-elevation-2:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-3:
    0 3px 3px -2px rgba(0, 0, 0, .2),
    0 3px 4px 0 rgba(0, 0, 0, .14),
    0 1px 8px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-4:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-5:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 5px 8px 0 rgba(0, 0, 0, .14),
    0 1px 14px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-6:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 6px 10px 0 rgba(0, 0, 0, .14),
    0 1px 18px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-7:
    0 4px 5px -2px rgba(0, 0, 0, .2),
    0 7px 10px 1px rgba(0, 0, 0, .14),
    0 2px 16px 1px rgba(0, 0, 0, .12);
  --shadow-elevation-8:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-9:
    0 5px 6px -3px rgba(0, 0, 0, .2),
    0 9px 12px 1px rgba(0, 0, 0, .14),
    0 3px 16px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-10:
    0 6px 6px -3px rgba(0, 0, 0, .2),
    0 10px 14px 1px rgba(0, 0, 0, .14),
    0 4px 18px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-11:
    0 6px 7px -4px rgba(0, 0, 0, .2),
    0 11px 15px 1px rgba(0, 0, 0, .14),
    0 4px 20px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-12:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-13:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 13px 19px 2px rgba(0, 0, 0, .14),
    0 5px 24px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-14:
    0 7px 9px -4px rgba(0, 0, 0, .2),
    0 14px 21px 2px rgba(0, 0, 0, .14),
    0 5px 26px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-15:
    0 8px 9px -5px rgba(0, 0, 0, .2),
    0 15px 22px 2px rgba(0, 0, 0, .14),
    0 6px 28px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-16:
    0 8px 10px -5px rgba(0, 0, 0, .2),
    0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-17:
    0 8px 11px -5px rgba(0, 0, 0, .2),
    0 17px 26px 2px rgba(0, 0, 0, .14),
    0 6px 32px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-18:
    0 9px 11px -5px rgba(0, 0, 0, .2),
    0 18px 28px 2px rgba(0, 0, 0, .14),
    0 7px 34px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-19:
    0 9px 12px -6px rgba(0, 0, 0, .2),
    0 19px 29px 2px rgba(0, 0, 0, .14),
    0 7px 36px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-20:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 20px 31px 3px rgba(0, 0, 0, .14),
    0 8px 38px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-21:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 21px 33px 3px rgba(0, 0, 0, .14),
    0 8px 40px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-22:
    0 10px 14px -6px rgba(0, 0, 0, .2),
    0 22px 35px 3px rgba(0, 0, 0, .14),
    0 8px 42px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-23:
    0 11px 14px -7px rgba(0, 0, 0, .2),
    0 23px 36px 3px rgba(0, 0, 0, .14),
    0 9px 44px 8px rgba(0, 0, 0, .12);
  --shadow-elevation-24:
    0 11px 15px -7px rgba(0, 0, 0, .2),
    0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);

  /* Transition */
  --transition-standart-easing: cubic-bezier(.4, 0, .2, 1);
  --transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
  --transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
  --transition-sharp-easing: cubic-bezier(.4, 0, .6, 1);
}

/* ==========================================================================
   Reboot
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-famifly);
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  letter-spacing: var(--letter-spacing-body-2);
  line-height: var(--line-height-body-2);
  text-transform: var(--text-transform-body-2);
  color: var(--color-text-primary-on-background);
  background-color: var(--color-background);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
select,
button {
  font-family: var(--font-famifly);
}




































/* Base styles */
.app {
  position: relative;
  height: 100%;
  overflow: auto;
}


.base-account-icon {
  --size: 40px;
  position: relative;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  vertical-align: top;
  opacity: 1;
  overflow: visible;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: var(--color-text-secondary-on-light);
  background-color: var(--color-light);
  border: calc(var(--size) / 6) solid transparent;
  border-radius: 50%;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}


.base-account-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  grid-gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.base-account-icons__item {
  --size: 48px;
}


.base-dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: minmax(100px, -webkit-max-content);
  grid-template-rows: minmax(100px, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  z-index: 24;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.base-dialog__backdrop {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .32);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  will-change: opacity;
  z-index: 1;
}
.base-dialog__container {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: var(--color-background);
  border-radius: 4px;
  -webkit-box-shadow: var(--shadow-elevation-24);
          box-shadow: var(--shadow-elevation-24);
  z-index: 2;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition:
    opacity 75ms linear,
    -webkit-transform 150ms var(--transition-deceleration-easing);
  transition:
    opacity 75ms linear,
    -webkit-transform 150ms var(--transition-deceleration-easing);
  transition:
    opacity 75ms linear,
    transform 150ms var(--transition-deceleration-easing);
  transition:
    opacity 75ms linear,
    transform 150ms var(--transition-deceleration-easing),
    -webkit-transform 150ms var(--transition-deceleration-easing);
  will-change:
    opacity,
    transform;
}
.base-dialog:not(.is-open) {
  pointer-events: none;
}
.base-dialog:not(.is-open) .base-dialog__backdrop {
  opacity: 0;
}
.base-dialog:not(.is-open) .base-dialog__container {
  opacity: 0;
  -webkit-transform: scale(.8);
          transform: scale(.8);
}


.base-dialog-content {
  max-height: 100%;
  padding: 20px 24px;
  overflow: auto;
  color: var(--color-text-secondary-on-background);
}
.base-dialog-content:not(:first-child) {
  padding-top: 0;
}


.base-dialog-title {
  display: block;
  padding: 16px 24px;
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
}



















































.base-button {
  position: relative;
  display: block;
  height: 36px;
  margin: 0;
  padding: 0 16px;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  letter-spacing: var(--letter-spacing-button);
  line-height: 36px;
  text-align: center;
  text-transform: var(--text-transform-button);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}
.base-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0;
  -webkit-transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  pointer-events: none;
}
.base-button:hover {
}
.base-button:hover::before {
  opacity: .04;
}
.base-button:focus {
}
.base-button:focus::before {
  opacity: .12;
}
.base-button:active {
}
.base-button:active::before {
  opacity: .26;
}
.base-button[disabled] {
  color: rgba(0, 0, 0, .37);
  pointer-events: none;
  cursor: auto;
}
.base-button--view-type-contained {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}
.base-button--view-type-contained::before {
  background-color: var(--color-on-primary);
}
.base-button--view-type-contained:hover::before {
  opacity: .08;
}
.base-button--view-type-contained:focus::before {
  opacity: .24;
}
.base-button--view-type-contained:active::before {
  opacity: .32;
}
.base-button--view-type-contained[disabled] {
  color: rgba(0, 0, 0, .37);
  background-color: rgba(0, 0, 0, .12);
}
.base-button--view-type-raised {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  -webkit-box-shadow: var(--shadow-elevation-2);
          box-shadow: var(--shadow-elevation-2);
  -webkit-transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing), -webkit-box-shadow 280ms var(--transition-standart-easing);
}
.base-button--view-type-raised:hover,
.base-button--view-type-raised:focus {
  -webkit-box-shadow: var(--shadow-elevation-4);
          box-shadow: var(--shadow-elevation-4);
}
.base-button--view-type-raised:hover::before {
  opacity: .08;
}
.base-button--view-type-raised:focus::before {
  opacity: .24;
}
.base-button--view-type-raised:active {
  -webkit-box-shadow: var(--shadow-elevation-8);
          box-shadow: var(--shadow-elevation-8);
}
.base-button--view-type-raised:active::before {
  opacity: .32;
}
.base-button--view-type-raised[disabled] {
  color: rgba(0, 0, 0, .37);
  background-color: rgba(0, 0, 0, .12);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.base-button--view-type-outlined {
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid rgba(0, 0, 0, .37);
}
.base-button--view-type-outlined:hover,
.base-button--view-type-outlined:focus {
}
.base-button--view-type-outlined:active {
}
.base-button--view-type-outlined[disabled] {
  color: rgba(0, 0, 0, .37);
  border-color: rgba(0, 0, 0, .37);
}


.base-form {
  display: grid;
  grid-template-areas:
    "body"
    "footer"
    "helper";
  grid-template-rows: auto -webkit-max-content 0;
  grid-template-rows: auto max-content 0;
  min-height: 100%;
}
.base-form__body {
  display: grid;
  grid-area: body;
  grid-row-gap: 24px;
  -ms-flex-line-pack: start;
      align-content: start;
  padding: 16px;
}
.base-form__footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 2;
  display: grid;
  grid-area: footer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  color: var(--color-on-background);
  background-color: var(--color-background);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing), -webkit-box-shadow 280ms var(--transition-standart-easing);
}
.base-form__footer--divided {
  -webkit-box-shadow: var(--shadow-elevation-8);
          box-shadow: var(--shadow-elevation-8);
}
.base-form__helper {
  grid-area: helper;
}


.base-select {
  position: relative;
  display: block;
}
.base-select__control {
  position: relative;
  display: block;
}
.base-select__input {
  --border-width: 1px;
  --border-color: rgba(0, 0, 0, .12);

  display: block;
  width: 100%;
  padding: 14px 16px;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  background-color: transparent;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%);
  background-position:
    right 13px top 50%,
    right 8px top 50%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 var(--border-width) var(--border-color);
          box-shadow: 0 0 0 var(--border-width) var(--border-color);
  -webkit-transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing), -webkit-box-shadow .15s var(--transition-standart-easing);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.base-select__input:hover {
  --border-color: rgba(0, 0, 0, .87);
}
.base-select__input:focus {
  --border-width: 2px;
  --border-color: var(--color-primary);

  outline: none;
}
.base-select__label {
  position: absolute;
  top: 14px;
  left: 16px;
  max-width: calc(100% - 32px);
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-text-secondary-on-light);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  pointer-events: none;
}
.base-select__label:empty {
  display: none;
}
.base-select.is-raised-label .base-select__label,
.base-select__input:focus ~ .base-select__label {
  top: 0;
  background-color: var(--color-background);
  -webkit-box-shadow: 0 0 0 5px var(--color-background);
          box-shadow: 0 0 0 5px var(--color-background);
  -webkit-transform: translateY(-40%) scale(.75);
          transform: translateY(-40%) scale(.75);
}
.base-select__input:focus ~ .base-select__label {
  color: var(--color-primary);
}
.base-select.is-placeholder-shown .base-select__input {
  color: var(--color-text-secondary-on-light);
}
.base-select.is-disabled .base-select__input {
  --border-width: 1px;
  --border-color: rgba(0, 0, 0, .06);

  color: var(--color-text-secondary-on-background);
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .38) 50%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .38) 50%);
  pointer-events: none;
}
.base-select.is-disabled.is-placeholder-shown .base-select__input{
  color: var(--color-text-disabled-on-background);
}
.base-select.is-disabled .base-select__label {
  color: var(--color-text-disabled-on-background);
}
.base-select.is-invalid .base-select__input {
  --border-width: 2px;
  --border-color: var(--color-error);
}
.base-select.is-invalid .base-select__label,
.base-select.is-invalid .base-select__helper-text {
  color: var(--color-error);
}


.base-text-field {
  position: relative;
  display: block;
}
.base-text-field__control {
  position: relative;
  display: block;
}
.base-text-field__input {
  --border-width: 1px;
  --border-color: rgba(0, 0, 0, .12);

  display: block;
  width: 100%;
  min-height: 56px;
  padding: 14px 16px;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 var(--border-width) var(--border-color);
          box-shadow: 0 0 0 var(--border-width) var(--border-color);
  -webkit-transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing), -webkit-box-shadow .15s var(--transition-standart-easing);
  -webkit-appearance: none;
}
.base-text-field__input::-webkit-input-placeholder {
  color: var(--color-text-secondary-on-background);
}
.base-text-field__input:-ms-input-placeholder {
  color: var(--color-text-secondary-on-background);
}
.base-text-field__input::-ms-input-placeholder {
  color: var(--color-text-secondary-on-background);
}
.base-text-field__input::placeholder {
  color: var(--color-text-secondary-on-background);
}
.base-text-field__input:hover {
  --border-color: rgba(0, 0, 0, .87);
}
.base-text-field__input:focus {
  --border-width: 2px;
  --border-color: var(--color-primary);

  outline: none;
}
.base-text-field__input[type="date"],
.base-text-field__input[type="month"] {
  background-color: transparent;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%);
  background-position:
    right 13px top 50%,
    right 8px top 50%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
  -moz-appearance: none;
}
.base-text-field__input[type="date"]::-webkit-calendar-picker-indicator,
.base-text-field__input[type="month"]::-webkit-calendar-picker-indicator {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  opacity: 0;
}
.base-text-field__input[type="date"]::-webkit-clear-button,
.base-text-field__input[type="month"]::-webkit-clear-button {
  -webkit-appearance: none;
}
.base-text-field__input[type="date"]::-ms-clear,
.base-text-field__input[type="month"]::-ms-clear {
  display: none;
}
.base-text-field__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.base-text-field__input--multi-line {
  resize: vertical;
}
.base-text-field__label {
  position: absolute;
  top: 14px;
  left: 16px;
  max-width: calc(100% - 32px);
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-text-secondary-on-light);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  pointer-events: none;
}
.base-text-field__label:empty {
  display: none;
}
.base-text-field__helper-text {
  padding: 4px 16px 0;
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-caption);
  letter-spacing: var(--letter-spacing-caption);
  line-height: var(--line-height-caption);
  text-transform: var(--text-transform-caption);
  color: var(--color-text-secondary-on-background);
}
.base-text-field__helper-text:empty {
  display: none;
}
.base-text-field.is-raised-label .base-text-field__label,
.base-text-field__input:focus ~ .base-text-field__label {
  top: 0;
  background-color: var(--color-background);
  -webkit-box-shadow: 0 0 0 5px var(--color-background);
          box-shadow: 0 0 0 5px var(--color-background);
  -webkit-transform: translateY(-40%) scale(.75);
          transform: translateY(-40%) scale(.75);
}
.base-text-field__input:focus ~ .base-text-field__label {
  color: var(--color-primary);
}
.base-text-field.is-disabled .base-text-field__input {
  --border-width: 1px;
  --border-color: rgba(0, 0, 0, .06);

  color: var(--color-text-secondary-on-background);
  pointer-events: none;
}
.base-text-field.is-disabled .base-text-field__input::-webkit-input-placeholder {
  color: var(--color-text-disabled-on-background);
}
.base-text-field.is-disabled .base-text-field__input:-ms-input-placeholder {
  color: var(--color-text-disabled-on-background);
}
.base-text-field.is-disabled .base-text-field__input::-ms-input-placeholder {
  color: var(--color-text-disabled-on-background);
}
.base-text-field.is-disabled .base-text-field__input::placeholder {
  color: var(--color-text-disabled-on-background);
}
.base-text-field.is-disabled .base-text-field__label {
  color: var(--color-text-disabled-on-background);
}
.base-text-field.is-invalid .base-text-field__input {
  --border-width: 2px;
  --border-color: var(--color-error);
}
.base-text-field.is-invalid .base-text-field__label,
.base-text-field.is-invalid .base-text-field__helper-text {
  color: var(--color-error);
}





















































































































































































.base-app-bar {
  grid-template-areas: "navigation title actions";
  grid-template-columns: -webkit-max-content auto minmax(48px, -webkit-max-content);
  grid-template-columns: max-content auto minmax(48px, max-content);
  grid-gap: 20px;
  display: grid;
  height: 56px;
  padding: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-on-background);
  background-color: var(--color-background);
}
.base-app-bar__navigation {
  grid-area: navigation;
}
.base-app-bar__title {
  grid-area: title;
}
.base-app-bar__actions {
  grid-auto-flow: column;
  grid-area: actions;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.base-app-bar-title {
  display: block;
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.base-icon-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  padding: 12px;
  color: inherit;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}
.base-icon-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  pointer-events: none;
}
.base-icon-button:hover {
}
.base-icon-button:hover::before {
  opacity: .04;
}
.base-icon-button:focus {
}
.base-icon-button:focus::before {
  opacity: .12;
}
.base-icon-button:active {
}
.base-icon-button:active::before {
  opacity: .26;
}
.base-icon-button[disabled] {
  color: rgba(0, 0, 0, .37);
  pointer-events: none;
  cursor: auto;
}


@-webkit-keyframes primary-indeterminate-translate {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
            animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
            animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    -webkit-transform: translateX(83.67142%);
            transform: translateX(83.67142%);
}
100% {
    -webkit-transform: translateX(200.61106%);
            transform: translateX(200.61106%);
}
}
@keyframes primary-indeterminate-translate {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
            animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
            animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    -webkit-transform: translateX(83.67142%);
            transform: translateX(83.67142%);
}
100% {
    -webkit-transform: translateX(200.61106%);
            transform: translateX(200.61106%);
}
}
@-webkit-keyframes primary-indeterminate-scale {
0% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
36.65% {
    -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
            animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
            animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    -webkit-transform: scaleX(0.66148);
            transform: scaleX(0.66148);
}
100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
}
@keyframes primary-indeterminate-scale {
0% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
36.65% {
    -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
            animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
            animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    -webkit-transform: scaleX(0.66148);
            transform: scaleX(0.66148);
}
100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
}
@-webkit-keyframes secondary-indeterminate-translate {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
            animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
            animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    -webkit-transform: translateX(37.65191%);
            transform: translateX(37.65191%);
}
48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
            animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    -webkit-transform: translateX(84.38617%);
            transform: translateX(84.38617%);
}
100% {
    -webkit-transform: translateX(160.27778%);
            transform: translateX(160.27778%);
}
}
@keyframes secondary-indeterminate-translate {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
            animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
            animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    -webkit-transform: translateX(37.65191%);
            transform: translateX(37.65191%);
}
48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
            animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    -webkit-transform: translateX(84.38617%);
            transform: translateX(84.38617%);
}
100% {
    -webkit-transform: translateX(160.27778%);
            transform: translateX(160.27778%);
}
}
@-webkit-keyframes secondary-indeterminate-scale {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
            animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
19.15% {
    -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
            animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    -webkit-transform: scaleX(0.4571);
            transform: scaleX(0.4571);
}
44.15% {
    -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
            animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    -webkit-transform: scaleX(0.72796);
            transform: scaleX(0.72796);
}
100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
}
@keyframes secondary-indeterminate-scale {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
            animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
19.15% {
    -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
            animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    -webkit-transform: scaleX(0.4571);
            transform: scaleX(0.4571);
}
44.15% {
    -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
            animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    -webkit-transform: scaleX(0.72796);
            transform: scaleX(0.72796);
}
100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
}
}
@-webkit-keyframes buffering {
to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
}
}
@keyframes buffering {
to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
}
}
@-webkit-keyframes primary-indeterminate-translate-reverse {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
            animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
            animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    -webkit-transform: translateX(-83.67142%);
            transform: translateX(-83.67142%);
}
100% {
    -webkit-transform: translateX(-200.61106%);
            transform: translateX(-200.61106%);
}
}
@keyframes primary-indeterminate-translate-reverse {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
            animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
            animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    -webkit-transform: translateX(-83.67142%);
            transform: translateX(-83.67142%);
}
100% {
    -webkit-transform: translateX(-200.61106%);
            transform: translateX(-200.61106%);
}
}
@-webkit-keyframes secondary-indeterminate-translate-reverse {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
            animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
            animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    -webkit-transform: translateX(-37.65191%);
            transform: translateX(-37.65191%);
}
48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
            animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    -webkit-transform: translateX(-84.38617%);
            transform: translateX(-84.38617%);
}
100% {
    -webkit-transform: translateX(-160.27778%);
            transform: translateX(-160.27778%);
}
}
@keyframes secondary-indeterminate-translate-reverse {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
            animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
            animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    -webkit-transform: translateX(-37.65191%);
            transform: translateX(-37.65191%);
}
48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
            animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    -webkit-transform: translateX(-84.38617%);
            transform: translateX(-84.38617%);
}
100% {
    -webkit-transform: translateX(-160.27778%);
            transform: translateX(-160.27778%);
}
}
@-webkit-keyframes buffering-reverse {
to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}
}
@keyframes buffering-reverse {
to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}
}
.base-progress {
  position: relative;
  width: 100%;
  height: 4px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: opacity 250ms 0ms var(--transition-sharp-easing);
  transition: opacity 250ms 0ms var(--transition-sharp-easing);
}
.base-progress__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 250ms var(--transition-sharp-easing);
  transition: -webkit-transform 250ms var(--transition-sharp-easing);
  transition: transform 250ms var(--transition-sharp-easing);
  transition: transform 250ms var(--transition-sharp-easing), -webkit-transform 250ms var(--transition-sharp-easing);
  -webkit-animation: none;
          animation: none;
}
.base-progress__bar-inner {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-animation: none;
          animation: none;
}
.base-progress__buffering-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: 10px 4px;
  -webkit-animation: buffering 250ms infinite linear;
          animation: buffering 250ms infinite linear;
}
.base-progress__buffer {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 250ms 0ms var(--transition-sharp-easing);
  transition: -webkit-transform 250ms 0ms var(--transition-sharp-easing);
  transition: transform 250ms 0ms var(--transition-sharp-easing);
  transition: transform 250ms 0ms var(--transition-sharp-easing), -webkit-transform 250ms 0ms var(--transition-sharp-easing);
}
.base-progress__primary-bar {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.base-progress__secondary-bar {
  visibility: hidden;
}
.base-progress--indeterminate .base-progress__bar {
  -webkit-transition: none;
  transition: none;
}
.base-progress--indeterminate .base-progress__primary-bar {
  left: -145.166611%;
  -webkit-animation: primary-indeterminate-translate 2s infinite linear;
          animation: primary-indeterminate-translate 2s infinite linear;
}
.base-progress--indeterminate .base-progress__primary-bar > .base-progress__bar-inner {
  -webkit-animation: primary-indeterminate-scale 2s infinite linear;
          animation: primary-indeterminate-scale 2s infinite linear;
}
.base-progress--indeterminate .base-progress__secondary-bar {
  left: -54.888891%;
  -webkit-animation: secondary-indeterminate-translate 2s infinite linear;
          animation: secondary-indeterminate-translate 2s infinite linear;
  visibility: visible;
}
.base-progress--indeterminate .base-progress__secondary-bar > .base-progress__bar-inner {
  -webkit-animation: secondary-indeterminate-scale 2s infinite linear;
          animation: secondary-indeterminate-scale 2s infinite linear;
}
.base-progress--reversed .base-progress__bar,
.base-progress--reversed .base-progress__buffer {
  right: 0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
.base-progress--reversed .base-progress__primary-bar {
  -webkit-animation-name: primary-indeterminate-translate-reverse;
          animation-name: primary-indeterminate-translate-reverse;
}
.base-progress--reversed .base-progress__secondary-bar {
  -webkit-animation-name: secondary-indeterminate-translate-reverse;
          animation-name: secondary-indeterminate-translate-reverse;
}
.base-progress--reversed .base-progress__buffering-dots {
  -webkit-animation: buffering-reverse 250ms infinite linear;
          animation: buffering-reverse 250ms infinite linear;
}
.base-progress--closed {
  opacity: 0;
}
.base-progress__bar-inner {
  background-color: var(--color-primary);
}
.base-progress__buffering-dots {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' enable-background='new 0 0 5 2' xml:space='preserve' viewBox='0 0 5 2' preserveAspectRatio='none slice'%3E%3Ccircle cx='1' cy='1' r='1' fill='%23e6e6e6'/%3E%3C/svg%3E");
}
.base-progress__buffer {
  background-color: #e6e6e6;
}
.base-progress--indeterminate.base-progress--reversed .base-progress__primary-bar {
  right: -145.166611%;
  left: auto;
}
.base-progress--indeterminate.base-progress--reversed .base-progress__secondary-bar {
  right: -54.888891%;
  left: auto;
}


.base-layout {
  display: grid;
  grid-template-areas:
    "helper"
    "header"
    "body"
    "action";
  grid-template-columns: 100%;
  grid-template-rows: 0 -webkit-max-content auto -webkit-max-content;
  grid-template-rows: 0 max-content auto max-content;
  height: 100%;
  overflow: auto;
}
.base-layout__helper {
  grid-area: helper;
}
.base-layout__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: header;
  color: var(--color-on-background);
  background-color: var(--color-background);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing), -webkit-box-shadow 280ms var(--transition-standart-easing);
}
.base-layout__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.base-layout__header--divided {
  -webkit-box-shadow: var(--shadow-elevation-2);
          box-shadow: var(--shadow-elevation-2);
}
.base-layout__body {
  grid-area: body;
}
.base-layout__action {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  grid-area: action;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  pointer-events: none;
}
.base-layout__action-content {
  pointer-events: auto;
}




























































.base-account-details {
  padding: 16px;
  border-bottom: 1px solid var(--color-divider-on-background);
}
.base-account-details__icon {
  --size: 100px;
  display: block;
  margin: 0 auto 16px;
}
.base-account-details__name {
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
  text-align: center;
}
.base-account-details__balance {
  font-size: var(--font-size-headline-5);
  font-weight: var(--font-weight-headline-5);
  letter-spacing: var(--letter-spacing-headline-5);
  line-height: var(--line-height-headline-5);
  text-transform: var(--text-transform-headline-5);
  text-align: center;
}























































































































































.base-list {
  padding-top: 8px;
  padding-bottom: 8px;
}


.base-account-list-item {
  display: grid;
  grid-column-gap: 16px;
  grid-template-areas: "icon name balance";
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding: 12px 16px;
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.base-account-list-item__name,
.base-account-list-item__balance {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.base-account-list-item__icon {
  --size: 40px;
  grid-area: icon;
}
.base-account-list-item__name {
  grid-area: name;
}
.base-account-list-item__balance {
  grid-area: balance;
}


.base-account-list {
}
.base-account-list__item {
}


.base-action-button {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  padding: 16px;
  line-height: 24px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border-radius: 28px;
  border: none;
  -webkit-box-shadow: var(--shadow-elevation-6);
          box-shadow: var(--shadow-elevation-6);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.base-action-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-on-primary);
  opacity: 0;
  -webkit-transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  pointer-events: none;
}
.base-action-button:hover {
}
.base-action-button:hover::before {
  opacity: .08;
}
.base-action-button:focus {
}
.base-action-button:focus::before {
  opacity: .24;
}
.base-action-button:active {
}
.base-action-button:active::before {
  opacity: .32;
}
.base-action-button[disabled] {
  color: rgba(0, 0, 0, .37);
  pointer-events: none;
  cursor: auto;
}


.base-stub {
  display: grid;
  grid-row-gap: 8px;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}
.base-stub__cover {
  justify-self: center;
  width: 150px;
  height: 150px;
  padding: 24px;
  color: var(--color-text-disabled-on-light);
  background-color: rgba(0, 0, 0, .12);
  border-radius: 50%;
}
.base-stub__icon {
  width: 100%;
  height: 100%;
}
.base-stub__description {
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body-1);
  letter-spacing: var(--letter-spacing-body-1);
  line-height: var(--line-height-body-1);
  text-transform: var(--text-transform-body-1);
  text-align: center;
  color: var(--color-text-secondary-on-background);
}
























































































.base-category-icon {
  --size: 40px;
  position: relative;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  vertical-align: top;
  opacity: 1;
  overflow: visible;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: var(--color-text-secondary-on-light);
  background-color: var(--color-light);
  border: calc(var(--size) / 6) solid transparent;
  border-radius: 50%;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}


.base-category-icons {
  display: grid;
  grid-gap: 16px;
}
.base-category-icons__group {
}
.base-category-icons__group-title {
  margin-bottom: 8px;
}
.base-category-icons__group-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  grid-gap: 16px;
}
.base-category-icons__group-icon {
  --size: 48px;
}










































































































































































































































































.base-category-details {
  padding: 16px;
  border-bottom: 1px solid var(--color-divider-on-background);
}
.base-category-details__icon {
  --size: 100px;
  display: block;
  margin: 0 auto 16px;
}
.base-category-details__name {
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
  text-align: center;
}



























































































































































.base-category-grid-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.base-category-grid-item__icon {
  --size: 48px;
  display: block;
  margin: 0 auto 8px;
}
.base-category-grid-item__name {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-caption);
  letter-spacing: var(--letter-spacing-caption);
  line-height: var(--line-height-caption);
  text-transform: var(--text-transform-caption);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.base-category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  grid-gap: 16px;
  padding: 16px;
}
.base-category-grid__item {
}


.base-tab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 48px;
  margin: 0;
  padding: 12px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  letter-spacing: var(--letter-spacing-button);
  line-height: var(--line-height-button);
  text-align: center;
  text-transform: var(--text-transform-button);
  color: var(--color-text-secondary-on-background);
  background-color: transparent;
  border: none;
  -webkit-transition: color .15s var(--transition-standart-easing);
  transition: color .15s var(--transition-standart-easing);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}
.base-tab:hover {
}
.base-tab:focus {
}
.base-tab:active,
.base-tab.is-active {
  color: var(--color-primary);
}
.base-tab::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  opacity: 0;
  -webkit-transition: opacity .15s var(--transition-standart-easing);
  transition: opacity .15s var(--transition-standart-easing);
  pointer-events: none;
  content: "";
}
.base-tab:hover::before {
  opacity: .04;
}
.base-tab:focus::before {
  opacity: .12;
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
}
.base-tab:active::before {
  opacity: .16;
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
}
.base-tab::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  -webkit-transition:
    width .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing);
  transition:
    width .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing);
  content: "";
}
.base-tab:active::after,
.base-tab.is-active::after {
  width: 100%;
  background-color: var(--color-primary);
}
.base-tab__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.base-tabs {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  border-bottom: 1px solid var(--color-divider-on-background);
}





















































































































































.base-list-item {
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.base-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  pointer-events: none;
}
.base-list-item:hover {
}
.base-list-item:hover::before {
  opacity: .04;
}
.base-list-item:focus {
}
.base-list-item:focus::before {
  opacity: .12;
}
.base-list-item:active {
}
.base-list-item:active::before {
  opacity: .26;
}


.base-list-title {
  padding: 8px 16px;
  font-size: var(--font-size-subtitle-2);
  font-weight: var(--font-weight-subtitle-2);
  line-height: var(--line-height-subtitle-2);
  letter-spacing: var(--letter-spacing-subtitle-2);
  text-transform: var(--text-transform-subtitle-2);
}












































































































































































































































































































































































































.base-transaction-details {
  padding: 16px;
  border-bottom: 1px solid var(--color-divider-on-background);
}
.base-transaction-details__category-icon {
  --size: 100px;
  display: block;
  margin: 0 auto 16px;
}
.base-transaction-details__category-name {
  font-size: var(--font-size-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
  text-align: center;
}
.base-transaction-details__amount {
  font-size: var(--font-size-headline-4);
  font-weight: var(--font-weight-headline-4);
  letter-spacing: var(--letter-spacing-headline-4);
  line-height: var(--line-height-headline-4);
  text-transform: var(--text-transform-headline-4);
  text-align: center;
}
.base-transaction-details__note {
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  text-align: center;
  color: var(--color-text-secondary-on-background)
}
.base-transaction-details__note:empty {
  display: block;
}




































































































































































































.base-month-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  padding: 4px;
  border-bottom: 1px solid var(--color-divider-on-background);
}
.base-month-picker__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body-1);
  letter-spacing: var(--letter-spacing-body-1);
  line-height: var(--line-height-body-1);
  text-transform: var(--text-transform-body-1);
  text-align: center;
}
.base-month-picker__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}


.base-sheet-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 160;
}
.base-sheet-side:not(.is-open) {
  pointer-events: none;
}
.base-sheet-side__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  cursor: pointer;
  -webkit-transition: opacity .25s var(--transition-standart-easing);
  transition: opacity .25s var(--transition-standart-easing);
}
.base-sheet-side:not(.is-open) .base-sheet-side__backdrop {
  opacity: 0;
}
.base-sheet-side__container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  max-width: 280px;
  height: 100%;
  overflow: auto;
  background-color: var(--color-surface);
  -webkit-box-shadow: var(--shadow-elevation-16);
          box-shadow: var(--shadow-elevation-16);
  -webkit-transition:
    -webkit-box-shadow .25s var(--transition-standart-easing),
    -webkit-transform .25s var(--transition-standart-easing);
  transition:
    -webkit-box-shadow .25s var(--transition-standart-easing),
    -webkit-transform .25s var(--transition-standart-easing);
  transition:
    box-shadow .25s var(--transition-standart-easing),
    transform .25s var(--transition-standart-easing);
  transition:
    box-shadow .25s var(--transition-standart-easing),
    transform .25s var(--transition-standart-easing),
    -webkit-box-shadow .25s var(--transition-standart-easing),
    -webkit-transform .25s var(--transition-standart-easing);
}
.base-sheet-side:not(.is-open) .base-sheet-side__container {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}


.base-transaction-list-item {
  display: grid;
  grid-column-gap: 16px;
  grid-template-areas:
    "icon category-name amount"
    "icon account-name amount";
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.base-transaction-list-item__category-name,
.base-transaction-list-item__account-name,
.base-transaction-list-item__amount {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.base-transaction-list-item__icon {
  --size: 40px;
  grid-area: icon;
}
.base-transaction-list-item__category-name {
  grid-area: category-name;
}
.base-transaction-list-item__account-name {
  grid-area: account-name;
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-text-secondary-on-background)
}
.base-transaction-list-item__amount {
  grid-area: amount;
}
.base-transaction-list-item--type-expense .base-transaction-list-item__amount {
  color: var(--color-expense);
}
.base-transaction-list-item--type-income .base-transaction-list-item__amount {
  color: var(--color-income);
}
.base-transaction-list-item--type-transfer .base-transaction-list-item__amount {
}


.base-transaction-list {
}
.base-transaction-list__header {
  display: grid;
  grid-template: "title total";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.base-transaction-list__title {
  grid-area: title;
}
.base-transaction-list__total {
  grid-area: total;
  padding: 8px 16px;
  text-align: right;
}
.base-transaction-list__item {
}


.base-transaction-list-by-day {
}
.base-transaction-list-by-day__total {
  padding: 16px;
}
.base-transaction-list-by-day__total-line {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body-1);
  letter-spacing: var(--letter-spacing-body-1);
  line-height: var(--line-height-body-1);
  text-transform: var(--text-transform-body-1);
}
.base-transaction-list-by-day__total-line:not(:last-child) {
  margin-bottom: 4px;
}
.base-transaction-list-by-day__total-title {
}
.base-transaction-list-by-day__total-value {
  text-align: right;
}
.base-transaction-list-by-day__total-value--expense {
  color: var(--color-expense);
}
.base-transaction-list-by-day__total-value--income {
  color: var(--color-income);
}
.base-transaction-list-by-day__list {
}





































































































































































































































































































































































/*# sourceMappingURL=main.css.map*/