
.md-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 170;
}
.md-drawer:not(.is-open) {
    pointer-events: none;
}
.md-drawer__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    cursor: pointer;
}
.md-drawer:not(.is-open) .md-drawer__backdrop {
    opacity: 0;
}
.md-drawer__container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 280px;
    height: 100%;
    overflow: auto;
    background-color: var(--color-surface);
    -webkit-box-shadow: var(--shadow-elevation-17);
            box-shadow: var(--shadow-elevation-17);
}
.md-drawer:not(.is-open) .md-drawer__container {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* ==========================================================================
   Variables
   ========================================================================== */
:root {
    /* Color */
    --color-primary: #3f51b5;
    --color-primary-light: #c5cae9;
    --color-primary-dark: #303f9f;
    --color-secondary: #ff4081;
    --color-secondary-light: '';
    --color-secondary-dark: '';
    --color-background: #fff;
    --color-surface: #fff;
    --color-error: #b00020;
    --color-light: #ddd;
    --color-dark: #1d1d1d;

    --color-on-primary: #fff;
    --color-on-primary-light: #fff;
    --color-on-primary-dark: #fff;
    --color-on-secondary: #000;
    --color-on-secondary-light: #000;
    --color-on-secondary-dark: #000;
    --color-on-background: #000;
    --color-on-surface: #000;
    --color-on-error: #fff;
    --color-on-light: #000;
    --color-on-dark: #fff;

    --color-text-primary-on-background: rgba(0, 0, 0, .87);
    --color-text-secondary-on-background: rgba(0, 0, 0, .54);
    --color-text-hint-on-background: rgba(0, 0, 0, .38);
    --color-text-disabled-on-background: rgba(0, 0, 0, .38);
    --color-text-primary-on-light: rgba(0, 0, 0, .87);
    --color-text-secondary-on-light: rgba(0, 0, 0, .54);
    --color-text-hint-on-light: rgba(0, 0, 0, .38);
    --color-text-disabled-on-light: rgba(0, 0, 0, .38);
    --color-text-primary-on-dark: #fff;
    --color-text-secondary-on-dark: rgba(255, 255, 255, .7);
    --color-text-hint-on-dark: rgba(255, 255, 255, .5);
    --color-text-disabled-on-dark: rgba(255, 255, 255, .5);

    /* Typography */
    --font-famifly: Roboto, sans-serif;

    --font-size-headline-1: 96px;
    --font-size-headline-2: 60px;
    --font-size-headline-3: 48px;
    --font-size-headline-4: 34px;
    --font-size-headline-5: 24px;
    --font-size-headline-6: 20px;
    --font-size-subtitle-1: 16px;
    --font-size-subtitle-2: 14px;
    --font-size-body-1: 16px;
    --font-size-body-2: 14px;
    --font-size-button: 14px;
    --font-size-caption: 12px;
    --font-size-overline: 12px;

    --font-weight-headline-1: 300;
    --font-weight-headline-2: 300;
    --font-weight-headline-3: 400;
    --font-weight-headline-4: 400;
    --font-weight-headline-5: 400;
    --font-weight-headline-6: 500;
    --font-weight-subtitle-1: 400;
    --font-weight-subtitle-2: 500;
    --font-weight-body-1: 400;
    --font-weight-body-2: 400;
    --font-weight-button: 500;
    --font-weight-caption: 400;
    --font-weight-overline: 400;

    --letter-spacing-headline-1: -1.5px;
    --letter-spacing-headline-2: -.5px;
    --letter-spacing-headline-3: 0;
    --letter-spacing-headline-4: .25px;
    --letter-spacing-headline-5: 0;
    --letter-spacing-headline-6: .15px;
    --letter-spacing-subtitle-1: .15px;
    --letter-spacing-subtitle-2: .1px;
    --letter-spacing-body-1: .5px;
    --letter-spacing-body-2: .25px;
    --letter-spacing-button: .75px;
    --letter-spacing-caption: .4px;
    --letter-spacing-overline: 1.5px;

    --line-height-headline-1: 96px;
    --line-height-headline-2: 60px;
    --line-height-headline-3: 50px;
    --line-height-headline-4: 40px;
    --line-height-headline-5: 32px;
    --line-height-headline-6: 32px;
    --line-height-subtitle-1: 28px;
    --line-height-subtitle-2: 22px;
    --line-height-body-1: 24px;
    --line-height-body-2: 20px;
    --line-height-caption: 20px;
    --line-height-overline: 32px;

    --text-transform-headline-1: none;
    --text-transform-headline-2: none;
    --text-transform-headline-3: none;
    --text-transform-headline-4: none;
    --text-transform-headline-5: none;
    --text-transform-headline-6: none;
    --text-transform-subtitle-1: none;
    --text-transform-subtitle-2: none;
    --text-transform-body-1: none;
    --text-transform-body-2: none;
    --text-transform-button: uppercase;
    --text-transform-caption: none;
    --text-transform-overline: uppercase;

    /* Shadow */
    --shadow-elevation-1:
            0 2px 1px -1px rgba(0, 0, 0, .2),
            0 1px 1px 0 rgba(0, 0, 0, .14),
            0 1px 3px 0 rgba(0, 0, 0, .12);;
    --shadow-elevation-2:
            0 3px 1px -2px rgba(0, 0, 0, .2),
            0 2px 2px 0 rgba(0, 0, 0, .14),
            0 1px 5px 0 rgba(0, 0, 0, .12);
    --shadow-elevation-3:
            0 3px 3px -2px rgba(0, 0, 0, .2),
            0 3px 4px 0 rgba(0, 0, 0, .14),
            0 1px 8px 0 rgba(0, 0, 0, .12);
    --shadow-elevation-4:
            0 2px 4px -1px rgba(0, 0, 0, .2),
            0 4px 5px 0 rgba(0, 0, 0, .14),
            0 1px 10px 0 rgba(0, 0, 0, .12);
    --shadow-elevation-5:
            0 3px 5px -1px rgba(0, 0, 0, .2),
            0 5px 8px 0 rgba(0, 0, 0, .14),
            0 1px 14px 0 rgba(0, 0, 0, .12);
    --shadow-elevation-6:
            0 3px 5px -1px rgba(0, 0, 0, .2),
            0 6px 10px 0 rgba(0, 0, 0, .14),
            0 1px 18px 0 rgba(0, 0, 0, .12);
    --shadow-elevation-7:
            0 4px 5px -2px rgba(0, 0, 0, .2),
            0 7px 10px 1px rgba(0, 0, 0, .14),
            0 2px 16px 1px rgba(0, 0, 0, .12);
    --shadow-elevation-8:
            0 5px 5px -3px rgba(0, 0, 0, .2),
            0 8px 10px 1px rgba(0, 0, 0, .14),
            0 3px 14px 2px rgba(0, 0, 0, .12);
    --shadow-elevation-9:
            0 5px 6px -3px rgba(0, 0, 0, .2),
            0 9px 12px 1px rgba(0, 0, 0, .14),
            0 3px 16px 2px rgba(0, 0, 0, .12);
    --shadow-elevation-10:
            0 6px 6px -3px rgba(0, 0, 0, .2),
            0 10px 14px 1px rgba(0, 0, 0, .14),
            0 4px 18px 3px rgba(0, 0, 0, .12);
    --shadow-elevation-11:
            0 6px 7px -4px rgba(0, 0, 0, .2),
            0 11px 15px 1px rgba(0, 0, 0, .14),
            0 4px 20px 3px rgba(0, 0, 0, .12);
    --shadow-elevation-12:
            0 7px 8px -4px rgba(0, 0, 0, .2),
            0 12px 17px 2px rgba(0, 0, 0, .14),
            0 5px 22px 4px rgba(0, 0, 0, .12);
    --shadow-elevation-13:
            0 7px 8px -4px rgba(0, 0, 0, .2),
            0 13px 19px 2px rgba(0, 0, 0, .14),
            0 5px 24px 4px rgba(0, 0, 0, .12);
    --shadow-elevation-14:
            0 7px 9px -4px rgba(0, 0, 0, .2),
            0 14px 21px 2px rgba(0, 0, 0, .14),
            0 5px 26px 4px rgba(0, 0, 0, .12);
    --shadow-elevation-15:
            0 8px 9px -5px rgba(0, 0, 0, .2),
            0 15px 22px 2px rgba(0, 0, 0, .14),
            0 6px 28px 5px rgba(0, 0, 0, .12);
    --shadow-elevation-16:
            0 8px 10px -5px rgba(0, 0, 0, .2),
            0 16px 24px 2px rgba(0, 0, 0, .14),
            0 6px 30px 5px rgba(0, 0, 0, .12);
    --shadow-elevation-17:
            0 8px 11px -5px rgba(0, 0, 0, .2),
            0 17px 26px 2px rgba(0, 0, 0, .14),
            0 6px 32px 5px rgba(0, 0, 0, .12);
    --shadow-elevation-18:
            0 9px 11px -5px rgba(0, 0, 0, .2),
            0 18px 28px 2px rgba(0, 0, 0, .14),
            0 7px 34px 6px rgba(0, 0, 0, .12);
    --shadow-elevation-19:
            0 9px 12px -6px rgba(0, 0, 0, .2),
            0 19px 29px 2px rgba(0, 0, 0, .14),
            0 7px 36px 6px rgba(0, 0, 0, .12);
    --shadow-elevation-20:
            0 10px 13px -6px rgba(0, 0, 0, .2),
            0 20px 31px 3px rgba(0, 0, 0, .14),
            0 8px 38px 7px rgba(0, 0, 0, .12);
    --shadow-elevation-21:
            0 10px 13px -6px rgba(0, 0, 0, .2),
            0 21px 33px 3px rgba(0, 0, 0, .14),
            0 8px 40px 7px rgba(0, 0, 0, .12);
    --shadow-elevation-22:
            0 10px 14px -6px rgba(0, 0, 0, .2),
            0 22px 35px 3px rgba(0, 0, 0, .14),
            0 8px 42px 7px rgba(0, 0, 0, .12);
    --shadow-elevation-23:
            0 11px 14px -7px rgba(0, 0, 0, .2),
            0 23px 36px 3px rgba(0, 0, 0, .14),
            0 9px 44px 8px rgba(0, 0, 0, .12);
    --shadow-elevation-24:
            0 11px 15px -7px rgba(0, 0, 0, .2),
            0 24px 38px 3px rgba(0, 0, 0, .14),
            0 9px 46px 8px rgba(0, 0, 0, .12);

    /* Transition */
    --transition-standart-easing: cubic-bezier(.4, 0, .2, 1);
    --transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
    --transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
    --transition-sharp-easing: cubic-bezier(.4, 0, .6, 1);
}

/* ==========================================================================
   Reboot
   ========================================================================== */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    position: relative;
}

html {
    box-sizing: border-box;
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    margin: 0;
    font-family: var(--font-famifly);
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-body-2);
    letter-spacing: var(--letter-spacing-body-2);
    line-height: var(--line-height-body-2);
    text-transform: var(--text-transform-body-2);
    color: var(--color-text-primary-on-background);
    background-color: var(--color-background);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}



.app {
}


.base-form {
    display: grid;
    grid-gap: 32px;
    padding: 16px;
}


.base-layout {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas:
            "header"
            "body"
            "fab"
            "footer";
    grid-template-rows: -webkit-max-content auto -webkit-max-content;
    grid-template-rows: max-content auto max-content;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.base-layout__header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    grid-area: header;
}
.base-layout__body {
    grid-area: body;
}
.base-layout__fab {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    grid-area: fab;
    justify-self: end;
    padding: 16px;
}
.base-layout__footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    grid-area: footer;
}


.md-app-bar {
    display: grid;
    grid-template-areas: "start title end";
    grid-template-columns: -webkit-max-content auto -webkit-max-content;
    grid-template-columns: max-content auto max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    -webkit-box-shadow: var(--shadow-elevation-4);
            box-shadow: var(--shadow-elevation-4);
}
.md-app-bar__start,
.md-app-bar__end {
    display: grid;
    grid-auto-flow: column;
}
.md-app-bar__start {
    grid-area: start;
}
.md-app-bar__title {
    grid-area: title;
    padding-left: 20px;
    overflow: hidden;
}
.md-app-bar__end {
    grid-area: end;
}
.md-app-bar--mod {
    background-color: transparent;
    background-image: radial-gradient(circle at top center, transparent, transparent 36px, var(--color-primary) 36px);
}


.md-headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.md-headline--type-h1 {
    font-size: var(--font-size-headline-1);
    font-weight: var(--font-weight-headline-1);
    letter-spacing: var(--letter-spacing-headline-1);
    line-height: var(--line-height-headline-1);
    text-transform: var(--text-transform-headline-1);
}
.md-headline--type-h2 {
    font-size: var(--font-size-headline-2);
    font-weight: var(--font-weight-headline-2);
    letter-spacing: var(--letter-spacing-headline-2);
    line-height: var(--line-height-headline-2);
    text-transform: var(--text-transform-headline-2);
}
.md-headline--type-h3 {
    font-size: var(--font-size-headline-3);
    font-weight: var(--font-weight-headline-3);
    letter-spacing: var(--letter-spacing-headline-3);
    line-height: var(--line-height-headline-3);
    text-transform: var(--text-transform-headline-3);
}
.md-headline--type-h4 {
    font-size: var(--font-size-headline-4);
    font-weight: var(--font-weight-headline-4);
    letter-spacing: var(--letter-spacing-headline-4);
    line-height: var(--line-height-headline-4);
    text-transform: var(--text-transform-headline-4);
}
.md-headline--type-h5 {
    font-size: var(--font-size-headline-5);
    font-weight: var(--font-weight-headline-5);
    letter-spacing: var(--letter-spacing-headline-5);
    line-height: var(--line-height-headline-5);
    text-transform: var(--text-transform-headline-5);
}
.md-headline--type-h6 {
    font-size: var(--font-size-headline-6);
    font-weight: var(--font-weight-headline-6);
    letter-spacing: var(--letter-spacing-headline-6);
    line-height: var(--line-height-headline-6);
    text-transform: var(--text-transform-headline-6);
}


.md-icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}


.md-icon-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: auto;
    padding: 12px;
    color: inherit;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
}
.md-icon-button__icon {
}


.md-select {
    position: relative;
    display: block;
}
.md-select__select {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    height: 53px;
    padding: 20px 26px 4px 12px;
    font-size: var(--font-size-subtitle-1);
    font-weight: var(--font-weight-subtitle-1);
    letter-spacing: var(--letter-spacing-subtitle-1);
    line-height: var(--line-height-subtitle-1);
    text-transform: var(--text-transform-subtitle-1);
    background-color: #f5f5f5;
    background-image:
            linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%),
            linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%);
    background-position:
            right 13px top 50%,
            right 8px top 50%;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    border-radius: 4px 4px 0 0;
    -webkit-transition: border-bottom-color .15s var(--transition-standart-easing);
    transition: border-bottom-color .15s var(--transition-standart-easing);
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.md-select:focus-within .md-select__select {
    border-bottom-color: var(--color-primary)
}
.md-select__label {
    position: absolute;
    top: 20px;
    left: 12px;
    z-index: 2;
    display: block;
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-caption);
    letter-spacing: var(--letter-spacing-caption);
    line-height: 1;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: color .15s var(--transition-standart-easing);
    transition: color .15s var(--transition-standart-easing);
    pointer-events: none;
}
.md-select:focus-within .md-select__label {
    color: var(--color-primary)
}


.md-text-field {
    position: relative;
    display: block;
}
.md-text-field__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px 12px 4px;
    font-size: var(--font-size-subtitle-1);
    font-weight: var(--font-weight-subtitle-1);
    letter-spacing: var(--letter-spacing-subtitle-1);
    line-height: var(--line-height-subtitle-1);
    text-transform: var(--text-transform-subtitle-1);
    background-color: #f5f5f5;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    border-radius: 4px 4px 0 0;
    -webkit-transition: border-bottom-color .15s var(--transition-standart-easing);
    transition: border-bottom-color .15s var(--transition-standart-easing);
    outline: none;
}
.md-text-field__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.md-text-field__input[type="date"] {
    -webkit-appearance: none;
}
.md-text-field:focus-within .md-text-field__input {
    border-bottom-color: var(--color-primary)
}
.md-text-field__label {
    position: absolute;
    top: 20px;
    left: 12px;
    z-index: 2;
    display: block;
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-caption);
    letter-spacing: var(--letter-spacing-caption);
    line-height: 1;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: color .15s var(--transition-standart-easing);
    transition: color .15s var(--transition-standart-easing);
    pointer-events: none;
}
.md-text-field:focus-within .md-text-field__label {
    color: var(--color-primary)
}


































































































.md-dialog,
.md-dialog__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.md-dialog {
    z-index: 100;
    display: grid;
    grid-template-columns: minmax(auto, 500px);
    padding: 16px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.md-dialog__backdrop {
    z-index: 1;
    background-color: #000;
    opacity: .3;
}
.md-dialog__container {
    position: relative;
    z-index: 2;
    background-color: var(--color-surface);
    border-radius: 4px;
    -webkit-box-shadow: var(--shadow-elevation-24);
            box-shadow: var(--shadow-elevation-24);
}
.md-dialog__header {
}
.md-dialog__body {
    height: 200px;
}
.md-dialog__footer {
    padding: 8px;
}
































































































































































































































.md-list-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: grid;
    min-height: 48px;
    padding: 12px 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.md-list-item__content {
}
.md-list-item::before,
.md-list-item::after {
    position: absolute;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    content: "";
}
.md-list-item::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 15ms linear;
    transition: opacity 15ms linear;
    will-change: opacity;
}
.md-list-item:hover::before {
    opacity: .04;
}
.md-list-item:focus::before {
    opacity: .12;
}
.md-list-item::after {
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    -webkit-transform: scale(.25) translate(-50%, -50%);
            transform: scale(.25) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition:
            opacity 150ms linear,
            -webkit-transform 0ms linear 150ms;
    transition:
            opacity 150ms linear,
            -webkit-transform 0ms linear 150ms;
    transition:
            opacity 150ms linear,
            transform 0ms linear 150ms;
    transition:
            opacity 150ms linear,
            transform 0ms linear 150ms,
            -webkit-transform 0ms linear 150ms;
    will-change: opacity, transform;
}
.md-list-item:active::after {
    opacity: .16;
    -webkit-transform: scale(1.2) translate(-50%, -50%);
            transform: scale(1.2) translate(-50%, -50%);
    -webkit-transition:
            opacity 75ms var(--transition-standart-easing),
            -webkit-transform 225ms var(--transition-standart-easing);
    transition:
            opacity 75ms var(--transition-standart-easing),
            -webkit-transform 225ms var(--transition-standart-easing);
    transition:
            opacity 75ms var(--transition-standart-easing),
            transform 225ms var(--transition-standart-easing);
    transition:
            opacity 75ms var(--transition-standart-easing),
            transform 225ms var(--transition-standart-easing),
            -webkit-transform 225ms var(--transition-standart-easing);
}


.base-category-item[data-v-278565cb] {
}
.base-category-item__content[data-v-278565cb] {
    display: grid;
    grid-column-gap: 16px;
    grid-template-areas: "image name";
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.base-category-item__image[data-v-278565cb] {
    grid-area: image;
    width: 40px;
    height: 40px;
    background-color: var(--color-light);
    border-radius: 50%;
}
.base-category-item__name[data-v-278565cb] {
    grid-area: name;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.base-category-list[data-v-b32dc5aa] {
    padding: 8px 0;
}
.base-category-list__item[data-v-b32dc5aa] {
}


.md-fab {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 50%;
    border: none;
    -webkit-box-shadow: var(--shadow-elevation-6);
            box-shadow: var(--shadow-elevation-6);
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}
.md-fab__icon {
}












































































































































































































































































































































































































































































.base-transaction-item {
}
.base-transaction-item__content {
    display: grid;
    grid-column-gap: 16px;
    grid-template-areas:
            "image category amount"
            "image note amount";
    grid-template-columns: -webkit-max-content auto -webkit-max-content;
    grid-template-columns: max-content auto max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.base-transaction-item__category,
.base-transaction-item__note,
.base-transaction-item__amount {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.base-transaction-item__image {
    grid-area: image;
    width: 40px;
    height: 40px;
    background-color: var(--color-light);
    border-radius: 50%;
}
.base-transaction-item__category {
    grid-area: category;
    font-size: 16px;
}
.base-transaction-item__note {
    grid-area: note;
    font-size: 14px;
    color: var(--color-text-secondary-on-background);
}
.base-transaction-item__amount {
    grid-area: amount;
    font-size: 16px;
}


.md-list-subheader {
    padding: 14px 16px;
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-body-2);
    letter-spacing: var(--letter-spacing-body-2);
    line-height: var(--line-height-body-2);
    text-transform: var(--text-transform-body-2);
}


.base-transaction-list {
    padding: 8px 0;
}
.base-transaction-list__subheader {
}
.base-transaction-list__subheader:not(:first-child) {
    margin-top: 8px;
}
.base-transaction-list__item {
}



























































































































































































































































































































































































































































.base-wallet-item {
}
.base-wallet-item__content {
    display: grid;
    grid-column-gap: 16px;
    grid-template-areas: "image name balance";
    grid-template-columns: -webkit-max-content auto -webkit-max-content;
    grid-template-columns: max-content auto max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.base-wallet-item__name,
.base-wallet-item__balance {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.base-wallet-item__image {
    grid-area: image;
    width: 40px;
    height: 40px;
    background-color: var(--color-light);
    border-radius: 50%;
}
.base-wallet-item__name {
    grid-area: name;
    font-size: 16px;
}
.base-wallet-item__balance {
    grid-area: balance;
    font-size: 16px;
}


.md-wallet-list {
    padding: 8px 0;
}
.md-wallet-list__item {
}






















































































