/* ==========================================================================
   Material design - Icon
   ========================================================================== */
:host {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: currentcolor;
    stroke: none;
    opacity: .54;
}

:host([hidden]) {
    display: none;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}