/* ==========================================================================
   Material design - Card actions
   ========================================================================== */
:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.md-card-actions {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-column-gap: 8px;
    min-height: 52px;
    padding: 8px;
}