.loader {
  --size: 100px;

  display: block;
  width: var(--size);
  height: var(--size);
  margin: auto;
}

.loader__svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.loader__circle {
  stroke: var(--color-primary);
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

.loader--position-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.app-bar {
  z-index: 4;
  display: grid;
  grid-template-areas: "actions-start title actions-end";
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
  padding: 4px;
}

.app-bar--color-default {}

.app-bar--color-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary)
}

.app-bar-actions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
}

.app-bar-actions--area-start {
  grid-area: actions-start;
}

.app-bar-actions--area-end {
  grid-area: actions-end;
}

.app-bar-title {
  grid-area: title;
  padding: 0 12px;
  overflow: hidden;
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  line-height: var(--line-height-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  text-transform: var(--text-transform-headline-6);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-bar-title--align-default {
  text-align: left;
}

.app-bar-title--align-center {
  text-align: center;
}

.card-item {
  position: relative;
  display: grid;
  grid-template-areas:
    "image name"
    "image description";
  grid-template-columns: 100px auto;
  grid-column-gap: 16px;
  padding: 16px;
}

.card-item:not(:last-child)::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  border-bottom: 1px solid var(--color-light);
  content: "";
}

.card-item__image {
  grid-area: image;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: var(--color-light);
  border-radius: 3px;
}

.card-item__image::before {
  display: block;
  padding-top: calc(54 * 100% / 86);
  content: "";
}

.card-item__name,
.card-item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-item__name {
  grid-area: name;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
}

.card-item__description {
  grid-area: description;
  -ms-flex-item-align: start;
      align-self: start;
  color: var(--color-text-secondary-on-background);
}

.card-list {
  padding: 8px 0;
}

.divider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
}

.drawer[hidden] {
  display: block;
  pointer-events: none;
}

.drawer__scrim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .32);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity .15s var(--transition-standart-easing);
  transition: opacity .15s var(--transition-standart-easing);
}

.drawer[hidden] .drawer__scrim {
  opacity: 0;
}

.drawer__content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: var(--color-background);
  color: var(--color-on-background);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: var(--shadow-elevation-16);
          box-shadow: var(--shadow-elevation-16);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition:
    -webkit-box-shadow .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    -webkit-box-shadow .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    box-shadow .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing);
  transition:
    box-shadow .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing),
    -webkit-box-shadow .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  will-change: transform;
}

.drawer[hidden] .drawer__content {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.icon {
  position: relative;
  display: inline-block;
  width: var(--size, 24px);
  height: var(--size, 24px);
  vertical-align: top;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.icon--size-default {
  --size: 24px;
}

.icon--size-fluid {
  --size: 100%;
}

.drawer-item {
  position: relative;
  display: grid;
  grid-template-areas: "icon title";
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-height: 40px;
  margin: 0 8px;
  padding: 0 8px;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.drawer-item:focus {
  outline: none;
}

.drawer-item.is-active {
  color: var(--color-primary);
}

.drawer-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition:
    background-color .15s linear,
    opacity .15s linear;
  transition:
    background-color .15s linear,
    opacity .15s linear;
  will-change: opacity;
  content: "";
}

.drawer-item:hover::after {
  opacity: .04;
}

.drawer-item:focus::after {
  opacity: .12;
}

.drawer-item.is-active::after {
  background-color: var(--color-primary);
  opacity: .08;
}

.drawer-item__icon {
  grid-area: icon;
  min-width: 56px;
  opacity: .54;
}

.drawer-item.is-active .drawer-item__icon {
  opacity: 1;
}

.drawer-item__title {
  grid-area: title;
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  letter-spacing: var(--letter-spacing-body-2);
  text-transform: var(--text-transform-body-2);
}

.drawer-list {
  display: grid;
  grid-gap: 8px;
  padding: 8px 0;
}

.icon-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  padding: 12px;
  color: inherit;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}

.fab {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: var(--shadow-elevation-6);
          box-shadow: var(--shadow-elevation-6);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.fab--color-default {
  background-color: var(--color-dark);
  color: var(--color-on-dark);
}

.fab--color-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.fab--color-secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.layout {
  position: relative;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "fab"
    "footer";
  grid-template-rows: -webkit-min-content auto -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content auto min-content min-content;
}

.layout-body {
  grid-area: body;
}

.layout-header {
  z-index: 4;
  grid-area: header;
}

.layout-fab {
  position: -webkit-sticky;
  position: sticky;
  bottom: 56px;
  z-index: 6;
  grid-area: fab;
  justify-self: end;
  padding: 16px;
  pointer-events: none;
}

.layout-fab__content {
  pointer-events: auto;
}

.layout-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 4;
  grid-area: footer;
  -webkit-box-shadow: var(--shadow-elevation-4);
          box-shadow: var(--shadow-elevation-4);
}

.headline {
  display: block;
}

.headline--type-h1 {
  font-size: var(--font-size-headline-1);
  font-weight: var(--font-weight-headline-1);
  letter-spacing: var(--letter-spacing-headline-1);
  line-height: var(--line-height-headline-1);
  text-transform: var(--text-transform-headline-1);
}

.headline--type-h2 {
  font-size: var(--font-size-headline-2);
  font-weight: var(--font-weight-headline-2);
  letter-spacing: var(--letter-spacing-headline-2);
  line-height: var(--line-height-headline-2);
  text-transform: var(--text-transform-headline-2);
}

.headline--type-h3 {
  font-size: var(--font-size-headline-3);
  font-weight: var(--font-weight-headline-3);
  letter-spacing: var(--letter-spacing-headline-3);
  line-height: var(--line-height-headline-3);
  text-transform: var(--text-transform-headline-3);
}

.headline--type-h4 {
  font-size: var(--font-size-headline-4);
  font-weight: var(--font-weight-headline-4);
  letter-spacing: var(--letter-spacing-headline-4);
  line-height: var(--line-height-headline-4);
  text-transform: var(--text-transform-headline-4);
}

.headline--type-h5 {
  font-size: var(--font-size-headline-5);
  font-weight: var(--font-weight-headline-5);
  letter-spacing: var(--letter-spacing-headline-5);
  line-height: var(--line-height-headline-5);
  text-transform: var(--text-transform-headline-5);
}

.headline--type-h6 {
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
}

.stub {
  display: grid;
  grid-template-areas:
    "icon"
    "title"
    "description";
  grid-gap: 8px;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  height: 100%;
  padding: 32px 16px;
  text-align: center;
  color: var(--color-text-secondary-on-background);
}

.stub__icon {
  --size: 150px;

  display: grid;
  grid-area: icon;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: var(--size);
  height: var(--size);
  padding: 16px;
  background-color: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .38);
  border-radius: 50%;
}

.stub__title {
  grid-area: title;
}

.stub__description {
  grid-area: description;
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  letter-spacing: var(--letter-spacing-body-2);
  text-transform: var(--text-transform-body-2);
}

.form {
  display: grid;
  grid-gap: 24px;
  padding: 32px 16px;
}

.text-field {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px 4px 0 0;
}

.text-field::before,
.text-field::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  content: "";
}

.text-field::before {
  border-top: 1px solid rgba(0, 0, 0, .42);
  -webkit-transition: border-top-color .15s linear;
  transition: border-top-color .15s linear;
}
.text-field:hover::before {
  border-top-color: rgba(0, 0, 0, .87);
}

.text-field::after {
  border-top: 2px solid var(--color-primary);
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition:
    opacity .18s var(--transition-standart-easing),
    -webkit-transform .18s var(--transition-standart-easing);
  transition:
    opacity .18s var(--transition-standart-easing),
    -webkit-transform .18s var(--transition-standart-easing);
  transition:
    opacity .18s var(--transition-standart-easing),
    transform .18s var(--transition-standart-easing);
  transition:
    opacity .18s var(--transition-standart-easing),
    transform .18s var(--transition-standart-easing),
    -webkit-transform .18s var(--transition-standart-easing);
  will-change: transform;
}

.text-field:focus-within::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-field__control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 22px 12px 6px;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  background-color: transparent;
  border: none;
  outline: none;
}

.text-field__control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.text-field__control[type="date"] {
  -webkit-appearance: none;
}

.text-field__label {
  position: absolute;
  top: 28px;
  left: 12px;
  z-index: 2;
  display: block;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: 1;
  text-transform: var(--text-transform-subtitle-1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  will-change:
    top,
    transform;
  pointer-events: none;
}

.text-field:focus-within .text-field__label,
.text-field__control--input:not([value=""]) ~ .text-field__label,
.text-field__control--textarea:not(:empty) ~ .text-field__label,
.text-field__control:placeholder-shown ~ .text-field__label {
  top: 24px;
  -webkit-transform: translateY(-75%) scale(.75);
          transform: translateY(-75%) scale(.75);
}

.text-field:focus-within .text-field__label {
  color: var(--color-primary);
}

.text-field__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .87);
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  pointer-events: none;
}

.text-field:hover .text-field__overlay {
  opacity: .04;
}

.text-field:focus-within .text-field__overlay {
  opacity: .12;
}

.barcode {
  position: relative;
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.barcode::before {
  display: block;
  padding-top: calc(115 * 100% / 255);
  content: "";
}

.barcode__text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  position: relative;
  display: grid;
  grid-template-areas:
    "name"
    "barcode"
    "number";
  grid-gap: 16px;
  max-width: 400px;
  margin: auto;
  padding: 16px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border-radius: 4px;
  -webkit-box-shadow: var(--shadow-elevation-2);
          box-shadow: var(--shadow-elevation-2);
}

.card__name {
  grid-area: name;
  font-size: 20px;
  text-align: center;
}

.card__barcode {
  grid-area: barcode;
}

.card__number {
  grid-area: number;
  font-size: 16px;
  text-align: center;
}

.content-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 16px;
}

.info-item {
  padding: 8px 16px;
}

.info-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-text-secondary-on-background);
}

.info-item__text {
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
}

.info-list {
  padding: 8px 0;
}

/* ==========================================================================
   Variables
   ========================================================================== */
:root {
  /* Color */
  --color-primary: #3f51b5;
  --color-primary-light: #c5cae9;
  --color-primary-dark: #303f9f;
  --color-secondary: #ff4081;
  --color-secondary-light: '';
  --color-secondary-dark: '';
  --color-background: #fff;
  --color-surface: #fff;
  --color-error: #b00020;
  --color-light: #ddd;
  --color-dark: #1d1d1d;

  --color-on-primary: #fff;
  --color-on-primary-light: #fff;
  --color-on-primary-dark: #fff;
  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #000;
  --color-on-background: #000;
  --color-on-surface: #000;
  --color-on-error: #fff;
  --color-on-light: #000;
  --color-on-dark: #fff;

  --color-text-primary-on-background: rgba(0, 0, 0, .87);
  --color-text-secondary-on-background: rgba(0, 0, 0, .54);
  --color-text-hint-on-background: rgba(0, 0, 0, .38);
  --color-text-disabled-on-background: rgba(0, 0, 0, .38);
  --color-text-primary-on-light: rgba(0, 0, 0, .87);
  --color-text-secondary-on-light: rgba(0, 0, 0, .54);
  --color-text-hint-on-light: rgba(0, 0, 0, .38);
  --color-text-disabled-on-light: rgba(0, 0, 0, .38);
  --color-text-primary-on-dark: #fff;
  --color-text-secondary-on-dark: rgba(255, 255, 255, .7);
  --color-text-hint-on-dark: rgba(255, 255, 255, .5);
  --color-text-disabled-on-dark: rgba(255, 255, 255, .5);

  /* Typography */
  --font-famifly: Roboto, sans-serif;

  --font-size-headline-1: 96px;
  --font-size-headline-2: 60px;
  --font-size-headline-3: 48px;
  --font-size-headline-4: 34px;
  --font-size-headline-5: 24px;
  --font-size-headline-6: 20px;
  --font-size-subtitle-1: 16px;
  --font-size-subtitle-2: 14px;
  --font-size-body-1: 16px;
  --font-size-body-2: 14px;
  --font-size-button: 14px;
  --font-size-caption: 12px;
  --font-size-overline: 12px;

  --font-weight-headline-1: 300;
  --font-weight-headline-2: 300;
  --font-weight-headline-3: 400;
  --font-weight-headline-4: 400;
  --font-weight-headline-5: 400;
  --font-weight-headline-6: 500;
  --font-weight-subtitle-1: 400;
  --font-weight-subtitle-2: 500;
  --font-weight-body-1: 400;
  --font-weight-body-2: 400;
  --font-weight-button: 500;
  --font-weight-caption: 400;
  --font-weight-overline: 400;

  --letter-spacing-headline-1: -1.5px;
  --letter-spacing-headline-2: -.5px;
  --letter-spacing-headline-3: 0;
  --letter-spacing-headline-4: .25px;
  --letter-spacing-headline-5: 0;
  --letter-spacing-headline-6: .15px;
  --letter-spacing-subtitle-1: .15px;
  --letter-spacing-subtitle-2: .1px;
  --letter-spacing-body-1: .5px;
  --letter-spacing-body-2: .25px;
  --letter-spacing-button: .75px;
  --letter-spacing-caption: .4px;
  --letter-spacing-overline: 1.5px;

  --line-height-headline-1: 96px;
  --line-height-headline-2: 60px;
  --line-height-headline-3: 50px;
  --line-height-headline-4: 40px;
  --line-height-headline-5: 32px;
  --line-height-headline-6: 32px;
  --line-height-subtitle-1: 28px;
  --line-height-subtitle-2: 22px;
  --line-height-body-1: 24px;
  --line-height-body-2: 20px;
  --line-height-caption: 20px;
  --line-height-overline: 32px;

  --text-transform-headline-1: none;
  --text-transform-headline-2: none;
  --text-transform-headline-3: none;
  --text-transform-headline-4: none;
  --text-transform-headline-5: none;
  --text-transform-headline-6: none;
  --text-transform-subtitle-1: none;
  --text-transform-subtitle-2: none;
  --text-transform-body-1: none;
  --text-transform-body-2: none;
  --text-transform-button: uppercase;
  --text-transform-caption: none;
  --text-transform-overline: uppercase;

  /* Shadow */
  --shadow-elevation-1:
    0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);;
  --shadow-elevation-2:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-3:
    0 3px 3px -2px rgba(0, 0, 0, .2),
    0 3px 4px 0 rgba(0, 0, 0, .14),
    0 1px 8px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-4:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-5:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 5px 8px 0 rgba(0, 0, 0, .14),
    0 1px 14px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-6:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 6px 10px 0 rgba(0, 0, 0, .14),
    0 1px 18px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-7:
    0 4px 5px -2px rgba(0, 0, 0, .2),
    0 7px 10px 1px rgba(0, 0, 0, .14),
    0 2px 16px 1px rgba(0, 0, 0, .12);
  --shadow-elevation-8:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-9:
    0 5px 6px -3px rgba(0, 0, 0, .2),
    0 9px 12px 1px rgba(0, 0, 0, .14),
    0 3px 16px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-10:
    0 6px 6px -3px rgba(0, 0, 0, .2),
    0 10px 14px 1px rgba(0, 0, 0, .14),
    0 4px 18px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-11:
    0 6px 7px -4px rgba(0, 0, 0, .2),
    0 11px 15px 1px rgba(0, 0, 0, .14),
    0 4px 20px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-12:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-13:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 13px 19px 2px rgba(0, 0, 0, .14),
    0 5px 24px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-14:
    0 7px 9px -4px rgba(0, 0, 0, .2),
    0 14px 21px 2px rgba(0, 0, 0, .14),
    0 5px 26px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-15:
    0 8px 9px -5px rgba(0, 0, 0, .2),
    0 15px 22px 2px rgba(0, 0, 0, .14),
    0 6px 28px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-16:
    0 8px 10px -5px rgba(0, 0, 0, .2),
    0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-17:
    0 8px 11px -5px rgba(0, 0, 0, .2),
    0 17px 26px 2px rgba(0, 0, 0, .14),
    0 6px 32px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-18:
    0 9px 11px -5px rgba(0, 0, 0, .2),
    0 18px 28px 2px rgba(0, 0, 0, .14),
    0 7px 34px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-19:
    0 9px 12px -6px rgba(0, 0, 0, .2),
    0 19px 29px 2px rgba(0, 0, 0, .14),
    0 7px 36px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-20:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 20px 31px 3px rgba(0, 0, 0, .14),
    0 8px 38px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-21:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 21px 33px 3px rgba(0, 0, 0, .14),
    0 8px 40px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-22:
    0 10px 14px -6px rgba(0, 0, 0, .2),
    0 22px 35px 3px rgba(0, 0, 0, .14),
    0 8px 42px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-23:
    0 11px 14px -7px rgba(0, 0, 0, .2),
    0 23px 36px 3px rgba(0, 0, 0, .14),
    0 9px 44px 8px rgba(0, 0, 0, .12);
  --shadow-elevation-24:
    0 11px 15px -7px rgba(0, 0, 0, .2),
    0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);

  /* Transition */
  --transition-standart-easing: cubic-bezier(.4, 0, .2, 1);
  --transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
  --transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
  --transition-sharp-easing: cubic-bezier(.4, 0, .6, 1);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src:
    url(fonts/Roboto-light.woff2) format('woff2'),
    url(fonts/Roboto-light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src:
    url(fonts/Roboto-regular.woff2) format('woff2'),
    url(fonts/Roboto-regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src:
    url(fonts/Roboto-medium.woff2) format('woff2'),
    url(fonts/Roboto-medium.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:
    url(fonts/Roboto-bold.woff2) format('woff2'),
    url(fonts/Roboto-bold.woff) format('woff');
}

/* ==========================================================================
   Reboot
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
}

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: grid;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-famifly);
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  letter-spacing: var(--letter-spacing-body-2);
  line-height: var(--line-height-body-2);
  text-transform: var(--text-transform-body-2);
  color: var(--color-text-primary-on-background);
  background-color: var(--color-background);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button {
  font-family: inherit;
}

#root {
  display: grid;
}



