/* ==========================================================================
   Material design - Icon button
   ========================================================================== */
:host {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: rgba(0, 0, 0, .54);
    user-select: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: color .3s ease;
}

:host(:hover),
:host(:focus) {
    color: rgba(0, 0, 0, .87);
}

:host(:active),
:host([pressed]) {}

:host([disabled]) {
    cursor: auto;
    pointer-events: none;
    color: rgba(0, 0, 0, .38);
}

:host([hidden]) {
    display: none;
}

md-icon {
    opacity: 1;
    pointer-events: none;
}