:root {
  /* Main color */
  --color-primary: #3f51b5;
  --color-primary-light: #c5cae9;
  --color-primary-dark: #303f9f;

  --color-on-primary: #fff;
  --color-on-primary-light: #fff;
  --color-on-primary-dark: #fff;

  --color-secondary: #ff4081;
  --color-secondary-light: '';
  --color-secondary-dark: '';

  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #000;

  --color-error: #b00020;
  --color-on-error: #fff;

  /* Colors light theme */
  --color-background-light-theme: #fff;
  --color-on-background-light-theme: #000;

  --color-surface-light-theme: #fff;
  --color-on-surface-light-theme: #000;

  --color-text-primary-on-background-light-theme: rgba(0, 0, 0, .87);
  --color-text-secondary-on-background-light-theme: rgba(0, 0, 0, .54);
  --color-text-hint-on-background-light-theme: rgba(0, 0, 0, .38);
  --color-text-disabled-on-background-light-theme: rgba(0, 0, 0, .38);

  /* Colors dark theme */
  --color-background-dark-theme: #303030;
  --color-on-background-dark-theme: #fff;

  --color-surface-dark-theme: #303030;
  --color-on-surface-dark-theme: #fff;

  --color-text-primary-on-background-dark-theme: #fff;
  --color-text-secondary-on-background-dark-theme: rgba(255, 255, 255, .7);
  --color-text-hint-on-background-dark-theme: rgba(255, 255, 255, .5);
  --color-text-disabled-on-background-dark-theme: rgba(255, 255, 255, .5);

  /* Colors dependent on theme */
  --color-background: var(--color-background-light-theme);
  --color-on-background: var(--color-on-background-light-theme);

  --color-surface: var(--color-surface-light-theme);
  --color-on-surface: var(--color-on-surface-light-theme);

  --color-text-primary-on-background: var(--color-text-primary-on-background-light-theme);
  --color-text-secondary-on-background: var(--color-text-secondary-on-background-light-theme);
  --color-text-hint-on-background: var(--color-text-hint-on-background-light-theme);
  --color-text-disabled-on-background: var(--color-text-disabled-on-background-light-theme);

  --color-divider-on-background: rgba(0, 0, 0, .12);

  /* Columns, gutters, and margins */
  --gutter: 16px;
  --margin: 16px;

  /* Typography */
  --font-famifly: Google Sans, Roboto, sans-serif;

  --font-size-headline-1: 96px;
  --font-size-headline-2: 60px;
  --font-size-headline-3: 48px;
  --font-size-headline-4: 34px;
  --font-size-headline-5: 24px;
  --font-size-headline-6: 20px;
  --font-size-subtitle-1: 16px;
  --font-size-subtitle-2: 14px;
  --font-size-body-1: 16px;
  --font-size-body-2: 14px;
  --font-size-button: 14px;
  --font-size-caption: 12px;
  --font-size-overline: 12px;

  --font-weight-headline-1: 300;
  --font-weight-headline-2: 300;
  --font-weight-headline-3: 400;
  --font-weight-headline-4: 400;
  --font-weight-headline-5: 400;
  --font-weight-headline-6: 500;
  --font-weight-subtitle-1: 400;
  --font-weight-subtitle-2: 500;
  --font-weight-body-1: 400;
  --font-weight-body-2: 400;
  --font-weight-button: 500;
  --font-weight-caption: 400;
  --font-weight-overline: 400;

  --letter-spacing-headline-1: -1.5px;
  --letter-spacing-headline-2: -.5px;
  --letter-spacing-headline-3: 0;
  --letter-spacing-headline-4: .25px;
  --letter-spacing-headline-5: 0;
  --letter-spacing-headline-6: .15px;
  --letter-spacing-subtitle-1: .15px;
  --letter-spacing-subtitle-2: .1px;
  --letter-spacing-body-1: .5px;
  --letter-spacing-body-2: .25px;
  --letter-spacing-button: .75px;
  --letter-spacing-caption: .4px;
  --letter-spacing-overline: 1.5px;

  --line-height-headline-1: 96px;
  --line-height-headline-2: 60px;
  --line-height-headline-3: 50px;
  --line-height-headline-4: 40px;
  --line-height-headline-5: 32px;
  --line-height-headline-6: 32px;
  --line-height-subtitle-1: 28px;
  --line-height-subtitle-2: 22px;
  --line-height-body-1: 24px;
  --line-height-body-2: 20px;
  --line-height-button: 24px;
  --line-height-caption: 20px;
  --line-height-overline: 32px;

  --text-transform-headline-1: none;
  --text-transform-headline-2: none;
  --text-transform-headline-3: none;
  --text-transform-headline-4: none;
  --text-transform-headline-5: none;
  --text-transform-headline-6: none;
  --text-transform-subtitle-1: none;
  --text-transform-subtitle-2: none;
  --text-transform-body-1: none;
  --text-transform-body-2: none;
  --text-transform-button: none;
  --text-transform-caption: none;
  --text-transform-overline: uppercase;

  /* Shadow */
  --shadow-elevation-1:
    0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-2:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-3:
    0 3px 3px -2px rgba(0, 0, 0, .2),
    0 3px 4px 0 rgba(0, 0, 0, .14),
    0 1px 8px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-4:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-5:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 5px 8px 0 rgba(0, 0, 0, .14),
    0 1px 14px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-6:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 6px 10px 0 rgba(0, 0, 0, .14),
    0 1px 18px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-7:
    0 4px 5px -2px rgba(0, 0, 0, .2),
    0 7px 10px 1px rgba(0, 0, 0, .14),
    0 2px 16px 1px rgba(0, 0, 0, .12);
  --shadow-elevation-8:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-9:
    0 5px 6px -3px rgba(0, 0, 0, .2),
    0 9px 12px 1px rgba(0, 0, 0, .14),
    0 3px 16px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-10:
    0 6px 6px -3px rgba(0, 0, 0, .2),
    0 10px 14px 1px rgba(0, 0, 0, .14),
    0 4px 18px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-11:
    0 6px 7px -4px rgba(0, 0, 0, .2),
    0 11px 15px 1px rgba(0, 0, 0, .14),
    0 4px 20px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-12:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-13:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 13px 19px 2px rgba(0, 0, 0, .14),
    0 5px 24px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-14:
    0 7px 9px -4px rgba(0, 0, 0, .2),
    0 14px 21px 2px rgba(0, 0, 0, .14),
    0 5px 26px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-15:
    0 8px 9px -5px rgba(0, 0, 0, .2),
    0 15px 22px 2px rgba(0, 0, 0, .14),
    0 6px 28px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-16:
    0 8px 10px -5px rgba(0, 0, 0, .2),
    0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-17:
    0 8px 11px -5px rgba(0, 0, 0, .2),
    0 17px 26px 2px rgba(0, 0, 0, .14),
    0 6px 32px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-18:
    0 9px 11px -5px rgba(0, 0, 0, .2),
    0 18px 28px 2px rgba(0, 0, 0, .14),
    0 7px 34px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-19:
    0 9px 12px -6px rgba(0, 0, 0, .2),
    0 19px 29px 2px rgba(0, 0, 0, .14),
    0 7px 36px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-20:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 20px 31px 3px rgba(0, 0, 0, .14),
    0 8px 38px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-21:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 21px 33px 3px rgba(0, 0, 0, .14),
    0 8px 40px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-22:
    0 10px 14px -6px rgba(0, 0, 0, .2),
    0 22px 35px 3px rgba(0, 0, 0, .14),
    0 8px 42px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-23:
    0 11px 14px -7px rgba(0, 0, 0, .2),
    0 23px 36px 3px rgba(0, 0, 0, .14),
    0 9px 44px 8px rgba(0, 0, 0, .12);
  --shadow-elevation-24:
    0 11px 15px -7px rgba(0, 0, 0, .2),
    0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);

  /* Transition */
  --transition-standart-easing: cubic-bezier(.4, 0, .2, 1);
  --transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
  --transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
  --transition-sharp-easing: cubic-bezier(.4, 0, .6, 1);
}

@media (min-width: 720px) {
  :root {
    /* Columns, gutters, and margins */
    --gutter: 24px;
    --margin: 24px;
  }
}
