*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-famifly);
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  letter-spacing: var(--letter-spacing-body-2);
  line-height: var(--line-height-body-2);
  text-transform: var(--text-transform-body-2);
  color: var(--color-text-primary-on-background);
  background-color: var(--color-background);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
