/* ==========================================================================
   Material design - Subtitle
   ========================================================================== */
:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.md-subtitle {}

.md-subtitle--type-s1 {
    font-size: var(--font-size-subtitle-1);
    font-weight: var(--font-weight-subtitle-1);
    letter-spacing: var(--letter-spacing-subtitle-1);
    line-height: var(--line-height-subtitle-1);
    text-transform: var(--text-transform-subtitle-1);
}

.md-subtitle--type-s2 {
    font-size: var(--font-size-subtitle-2);
    font-weight: var(--font-weight-subtitle-2);
    letter-spacing: var(--letter-spacing-subtitle-2);
    line-height: var(--line-height-subtitle-2);
    text-transform: var(--text-transform-subtitle-2);
}