/* ==========================================================================
   Material design - List item
   ========================================================================== */
:host {
    display: block;
}

:host(:focus) {
    outline: none;
}

:host([hidden]) {
    display: none;
}

.md-list-item {
    box-sizing: border-box;
    position: relative;
    display: grid;
    min-height: 48px;
    padding: 12px 16px;
    align-items: center;
    overflow: hidden;
    outline: none;
    user-select: none;
}

.md-list-item__content {}

.md-list-item::before,
.md-list-item::after {
    position: absolute;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    content: "";
}

.md-list-item::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 15ms linear;
    will-change: opacity;
}

.md-list-item:hover::before {
    opacity: .04;
}

.md-list-item:focus::before {
    opacity: .12;
}

.md-list-item::after {
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    transform: scale(.25) translate(-50%, -50%);
    transform-origin: 0 0;
    transition:
            opacity 150ms linear,
            transform 0ms linear 150ms;
    will-change: opacity, transform;
}

.md-list-item:active::after {
    opacity: .16;
    transform: scale(1.2) translate(-50%, -50%);
    transition:
            opacity 75ms var(--transition-standart-easing),
            transform 225ms var(--transition-standart-easing);
}