/* ==========================================================================
   Material design - Card
   ========================================================================== */
:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.md-card {
    position: relative;
    display: grid;
    background-color: var(--color-surface);
    border-radius: 2px;
    box-shadow: var(--shadow-elevation-2);
    transition: box-shadow 280ms var(--transition-standart-easing);
}

.md-card:hover,
.md-card:focus,
.md-card:focus-within {
    box-shadow: var(--shadow-elevation-8);
}

.md-card {}