
.base-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 170;
}
.base-drawer:not(.is-open) {
  pointer-events: none;
}
.base-drawer__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  cursor: pointer;
}
.base-drawer:not(.is-open) .base-drawer__backdrop {
  opacity: 0;
}
.base-drawer__container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 280px;
  height: 100%;
  overflow: auto;
  background-color: var(--color-surface);
  -webkit-box-shadow: var(--shadow-elevation-17);
          box-shadow: var(--shadow-elevation-17);
}
.base-drawer:not(.is-open) .base-drawer__container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-shadow: none;
          box-shadow: none;
}


.base-navigation-list {
  display: grid;
  grid-row-gap: 8px;
  padding: 8px;
}


.base-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}


.base-navigation-item {
  position: relative;
  display: grid;
  grid-template-areas: "icon title";
  grid-template-columns: 56px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 8px;
  font-size: var(--font-size-subtitle-2);
  font-weight: var(--font-weight-subtitle-2);
  line-height: var(--line-height-subtitle-2);
  letter-spacing: var(--letter-spacing-subtitle-2);
  border-radius: 3px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}
.base-navigation-item.is-pressed {
  color: var(--color-primary);
}
.base-navigation-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  transition:
    background-color 75ms var(--transition-standart-easing),
    opacity 75ms var(--transition-standart-easing);
  pointer-events: none;
}
.base-navigation-item:hover::before {
  opacity: .04;
}
.base-navigation-item:focus::before {
  opacity: .12;
}
.base-navigation-item:active::before {
  opacity: .26;
}
.base-navigation-item.is-pressed::before {
  background-color: var(--color-primary);
  opacity: .12;
}
.base-navigation-item__icon {
  position: relative;
  grid-area: icon;
  opacity: .6;
}
.base-navigation-item.is-pressed .base-navigation-item__icon {
  opacity: 1;
}
.base-navigation-item__title {
  position: relative;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.navigation-drawer[data-v-39a10456] {
}
.navigation-drawer__header[data-v-39a10456] {
  height: 150px;
  background-color: var(--color-primary);
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Google Sans Regular'),
    local('GoogleSans-Regular'),
    url(../fonts/GoogleSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src:
    local('Google Sans Medium'),
    local('GoogleSans-Medium'),
    url(../fonts/GoogleSans-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src:
    local('Roboto Thin'),
    local('Roboto-Thin'),
    url(../fonts/Roboto-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    url(../fonts/Roboto-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url(../fonts/Roboto-Bold.woff2) format('woff2');
}

/* ==========================================================================
   Variables
   ========================================================================== */
:root {
  /* Color */
  --color-primary: #3f51b5;
  --color-primary-light: #c5cae9;
  --color-primary-dark: #303f9f;
  --color-secondary: #ff4081;
  --color-secondary-light: '';
  --color-secondary-dark: '';
  --color-background: #fff;
  --color-surface: #fff;
  --color-error: #b00020;
  --color-light: #ddd;
  --color-dark: #1d1d1d;

  --color-on-primary: #fff;
  --color-on-primary-light: #fff;
  --color-on-primary-dark: #fff;
  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #000;
  --color-on-background: #000;
  --color-on-surface: #000;
  --color-on-error: #fff;
  --color-on-light: #000;
  --color-on-dark: #fff;

  --color-text-primary-on-background: rgba(0, 0, 0, .87);
  --color-text-secondary-on-background: rgba(0, 0, 0, .54);
  --color-text-hint-on-background: rgba(0, 0, 0, .38);
  --color-text-disabled-on-background: rgba(0, 0, 0, .38);
  --color-text-primary-on-light: rgba(0, 0, 0, .87);
  --color-text-secondary-on-light: rgba(0, 0, 0, .54);
  --color-text-hint-on-light: rgba(0, 0, 0, .38);
  --color-text-disabled-on-light: rgba(0, 0, 0, .38);
  --color-text-primary-on-dark: #fff;
  --color-text-secondary-on-dark: rgba(255, 255, 255, .7);
  --color-text-hint-on-dark: rgba(255, 255, 255, .5);
  --color-text-disabled-on-dark: rgba(255, 255, 255, .5);

  --color-divider-on-background: rgba(0, 0, 0, .12);

  /* Typography */
  --font-famifly: Google Sans, Roboto, sans-serif;

  --font-size-headline-1: 96px;
  --font-size-headline-2: 60px;
  --font-size-headline-3: 48px;
  --font-size-headline-4: 34px;
  --font-size-headline-5: 24px;
  --font-size-headline-6: 20px;
  --font-size-subtitle-1: 16px;
  --font-size-subtitle-2: 14px;
  --font-size-body-1: 16px;
  --font-size-body-2: 14px;
  --font-size-button: 14px;
  --font-size-caption: 12px;
  --font-size-overline: 12px;

  --font-weight-headline-1: 300;
  --font-weight-headline-2: 300;
  --font-weight-headline-3: 400;
  --font-weight-headline-4: 400;
  --font-weight-headline-5: 400;
  --font-weight-headline-6: 500;
  --font-weight-subtitle-1: 400;
  --font-weight-subtitle-2: 500;
  --font-weight-body-1: 400;
  --font-weight-body-2: 400;
  --font-weight-button: 500;
  --font-weight-caption: 400;
  --font-weight-overline: 400;

  --letter-spacing-headline-1: -1.5px;
  --letter-spacing-headline-2: -.5px;
  --letter-spacing-headline-3: 0;
  --letter-spacing-headline-4: .25px;
  --letter-spacing-headline-5: 0;
  --letter-spacing-headline-6: .15px;
  --letter-spacing-subtitle-1: .15px;
  --letter-spacing-subtitle-2: .1px;
  --letter-spacing-body-1: .5px;
  --letter-spacing-body-2: .25px;
  --letter-spacing-button: .75px;
  --letter-spacing-caption: .4px;
  --letter-spacing-overline: 1.5px;

  --line-height-headline-1: 96px;
  --line-height-headline-2: 60px;
  --line-height-headline-3: 50px;
  --line-height-headline-4: 40px;
  --line-height-headline-5: 32px;
  --line-height-headline-6: 32px;
  --line-height-subtitle-1: 28px;
  --line-height-subtitle-2: 22px;
  --line-height-body-1: 24px;
  --line-height-body-2: 20px;
  --line-height-caption: 20px;
  --line-height-overline: 32px;

  --text-transform-headline-1: none;
  --text-transform-headline-2: none;
  --text-transform-headline-3: none;
  --text-transform-headline-4: none;
  --text-transform-headline-5: none;
  --text-transform-headline-6: none;
  --text-transform-subtitle-1: none;
  --text-transform-subtitle-2: none;
  --text-transform-body-1: none;
  --text-transform-body-2: none;
  --text-transform-button: none;
  --text-transform-caption: none;
  --text-transform-overline: uppercase;

  /* Shadow */
  --shadow-elevation-1:
    0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);;
  --shadow-elevation-2:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-3:
    0 3px 3px -2px rgba(0, 0, 0, .2),
    0 3px 4px 0 rgba(0, 0, 0, .14),
    0 1px 8px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-4:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-5:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 5px 8px 0 rgba(0, 0, 0, .14),
    0 1px 14px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-6:
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 6px 10px 0 rgba(0, 0, 0, .14),
    0 1px 18px 0 rgba(0, 0, 0, .12);
  --shadow-elevation-7:
    0 4px 5px -2px rgba(0, 0, 0, .2),
    0 7px 10px 1px rgba(0, 0, 0, .14),
    0 2px 16px 1px rgba(0, 0, 0, .12);
  --shadow-elevation-8:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-9:
    0 5px 6px -3px rgba(0, 0, 0, .2),
    0 9px 12px 1px rgba(0, 0, 0, .14),
    0 3px 16px 2px rgba(0, 0, 0, .12);
  --shadow-elevation-10:
    0 6px 6px -3px rgba(0, 0, 0, .2),
    0 10px 14px 1px rgba(0, 0, 0, .14),
    0 4px 18px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-11:
    0 6px 7px -4px rgba(0, 0, 0, .2),
    0 11px 15px 1px rgba(0, 0, 0, .14),
    0 4px 20px 3px rgba(0, 0, 0, .12);
  --shadow-elevation-12:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-13:
    0 7px 8px -4px rgba(0, 0, 0, .2),
    0 13px 19px 2px rgba(0, 0, 0, .14),
    0 5px 24px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-14:
    0 7px 9px -4px rgba(0, 0, 0, .2),
    0 14px 21px 2px rgba(0, 0, 0, .14),
    0 5px 26px 4px rgba(0, 0, 0, .12);
  --shadow-elevation-15:
    0 8px 9px -5px rgba(0, 0, 0, .2),
    0 15px 22px 2px rgba(0, 0, 0, .14),
    0 6px 28px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-16:
    0 8px 10px -5px rgba(0, 0, 0, .2),
    0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-17:
    0 8px 11px -5px rgba(0, 0, 0, .2),
    0 17px 26px 2px rgba(0, 0, 0, .14),
    0 6px 32px 5px rgba(0, 0, 0, .12);
  --shadow-elevation-18:
    0 9px 11px -5px rgba(0, 0, 0, .2),
    0 18px 28px 2px rgba(0, 0, 0, .14),
    0 7px 34px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-19:
    0 9px 12px -6px rgba(0, 0, 0, .2),
    0 19px 29px 2px rgba(0, 0, 0, .14),
    0 7px 36px 6px rgba(0, 0, 0, .12);
  --shadow-elevation-20:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 20px 31px 3px rgba(0, 0, 0, .14),
    0 8px 38px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-21:
    0 10px 13px -6px rgba(0, 0, 0, .2),
    0 21px 33px 3px rgba(0, 0, 0, .14),
    0 8px 40px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-22:
    0 10px 14px -6px rgba(0, 0, 0, .2),
    0 22px 35px 3px rgba(0, 0, 0, .14),
    0 8px 42px 7px rgba(0, 0, 0, .12);
  --shadow-elevation-23:
    0 11px 14px -7px rgba(0, 0, 0, .2),
    0 23px 36px 3px rgba(0, 0, 0, .14),
    0 9px 44px 8px rgba(0, 0, 0, .12);
  --shadow-elevation-24:
    0 11px 15px -7px rgba(0, 0, 0, .2),
    0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);

  /* Transition */
  --transition-standart-easing: cubic-bezier(.4, 0, .2, 1);
  --transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
  --transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
  --transition-sharp-easing: cubic-bezier(.4, 0, .6, 1);
}

/* ==========================================================================
   Reboot
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-famifly);
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  letter-spacing: var(--letter-spacing-body-2);
  line-height: var(--line-height-body-2);
  text-transform: var(--text-transform-body-2);
  color: var(--color-text-primary-on-background);
  background-color: var(--color-background);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

input,
button {
  font-family: inherit;
}






































/* Base styles */
.app {
  position: relative;
  height: 100%;
}


.base-button {
  display: block;
  height: 36px;
  padding: 0 16px;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  letter-spacing: var(--letter-spacing-button);
  line-height: 36px;
  text-align: center;
  text-transform: var(--text-transform-button);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-text-primary-on-background);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}
.base-button:hover {
}
.base-button:focus {
}
.base-button:active {
}
.base-button[disabled] {
  color: rgba(0, 0, 0, .37);
  pointer-events: none;
  cursor: auto;
}
.base-button--type-style-contained {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}
.base-button--type-style-contained[disabled] {
  color: rgba(0, 0, 0, .37);
  background-color: rgba(0, 0, 0, .12);
}
.base-button--type-style-raised {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  -webkit-box-shadow: var(--shadow-elevation-2);
          box-shadow: var(--shadow-elevation-2);
  -webkit-transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: -webkit-box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing);
  transition: box-shadow 280ms var(--transition-standart-easing), -webkit-box-shadow 280ms var(--transition-standart-easing);
}
.base-button--type-style-raised:hover,
.base-button--type-style-raised:focus {
  -webkit-box-shadow: var(--shadow-elevation-4);
          box-shadow: var(--shadow-elevation-4);
}
.base-button--type-style-raised:active {
  -webkit-box-shadow: var(--shadow-elevation-8);
          box-shadow: var(--shadow-elevation-8);
}
.base-button--type-style-raised[disabled] {
  color: rgba(0, 0, 0, .37);
  background-color: rgba(0, 0, 0, .12);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.base-button--type-style-outlined {
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid rgba(0, 0, 0, .37);
}
.base-button--type-style-outlined:hover,
.base-button--type-style-outlined:focus {
}
.base-button--type-style-outlined:active {
}
.base-button--type-style-outlined[disabled] {
  color: rgba(0, 0, 0, .37);
  border-color: rgba(0, 0, 0, .37);
}


.base-form {
  display: grid;
  grid-template-areas:
    "body"
    "footer";
  grid-template-rows: auto -webkit-max-content;
  grid-template-rows: auto max-content;
  min-height: 100%;
}
.base-form__body {
  display: grid;
  grid-area: body;
  grid-row-gap: 24px;
  -ms-flex-line-pack: start;
      align-content: start;
  padding: 16px;
}
.base-form__footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 2;
  display: grid;
  grid-area: footer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  color: var(--color-on-background);
  background-color: var(--color-background);
}


.base-headline {
  display: block;
}
.base-headline--level-1 {
  font-size: var(--font-size-headline-1);
  font-weight: var(--font-weight-headline-1);
  letter-spacing: var(--letter-spacing-headline-1);
  line-height: var(--line-height-headline-1);
  text-transform: var(--text-transform-headline-1);
}
.base-headline--level-2 {
  font-size: var(--font-size-headline-2);
  font-weight: var(--font-weight-headline-2);
  letter-spacing: var(--letter-spacing-headline-2);
  line-height: var(--line-height-headline-2);
  text-transform: var(--text-transform-headline-2);
}
.base-headline--level-3 {
  font-size: var(--font-size-headline-3);
  font-weight: var(--font-weight-headline-3);
  letter-spacing: var(--letter-spacing-headline-3);
  line-height: var(--line-height-headline-3);
  text-transform: var(--text-transform-headline-3);
}
.base-headline--level-4 {
  font-size: var(--font-size-headline-4);
  font-weight: var(--font-weight-headline-4);
  letter-spacing: var(--letter-spacing-headline-4);
  line-height: var(--line-height-headline-4);
  text-transform: var(--text-transform-headline-4);
}
.base-headline--level-5 {
  font-size: var(--font-size-headline-5);
  font-weight: var(--font-weight-headline-5);
  letter-spacing: var(--letter-spacing-headline-5);
  line-height: var(--line-height-headline-5);
  text-transform: var(--text-transform-headline-5);
}
.base-headline--level-6 {
  font-size: var(--font-size-headline-6);
  font-weight: var(--font-weight-headline-6);
  letter-spacing: var(--letter-spacing-headline-6);
  line-height: var(--line-height-headline-6);
  text-transform: var(--text-transform-headline-6);
}


.base-icon-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  padding: 12px;
  color: inherit;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
}


.base-select {
  position: relative;
  display: block;
}
.base-select__control {
  display: block;
  width: 100%;
  padding: 14px 16px;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  background-color: transparent;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .54) 50%);
  background-position:
    right 13px top 50%,
    right 8px top 50%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
  -webkit-transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing), -webkit-box-shadow .15s var(--transition-standart-easing);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.base-select__control.is-placeholder-shown {
  color: var(--color-text-secondary-on-light);
}
.base-select__control:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .87);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .87);
}
.base-select__control:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-primary);
          box-shadow: 0 0 0 2px var(--color-primary);
  outline: none;
}
.base-select__label {
  position: absolute;
  top: 14px;
  left: 16px;
  max-width: calc(100% - 32px);
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-text-secondary-on-light);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  pointer-events: none;
}
.base-select__label.is-raised,
.base-select__control:focus ~ .base-select__label {
  top: 0;
  background-color: var(--color-background);
  -webkit-box-shadow: 0 0 0 5px var(--color-background);
          box-shadow: 0 0 0 5px var(--color-background);
  -webkit-transform: translateY(-40%) scale(.75);
          transform: translateY(-40%) scale(.75);
}
.base-select__control:focus ~ .base-select__label {
  color: var(--color-primary);
}


.base-text-field {
  position: relative;
  display: block;
}
.base-text-field__control {
  display: block;
  width: 100%;
  padding: 14px 16px;
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
  -webkit-transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: -webkit-box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing);
  transition: box-shadow .15s var(--transition-standart-easing), -webkit-box-shadow .15s var(--transition-standart-easing);
  -webkit-appearance: none;
}
.base-text-field__control::-webkit-input-placeholder {
  color: var(--color-text-secondary-on-light);
}
.base-text-field__control:-ms-input-placeholder {
  color: var(--color-text-secondary-on-light);
}
.base-text-field__control::-ms-input-placeholder {
  color: var(--color-text-secondary-on-light);
}
.base-text-field__control::placeholder {
  color: var(--color-text-secondary-on-light);
}
.base-text-field__control:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .87);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .87);
}
.base-text-field__control:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-primary);
          box-shadow: 0 0 0 2px var(--color-primary);
  outline: none;
}
.base-text-field__control[type="date"] {
  -webkit-appearance: none;
}
.base-text-field__control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.base-text-field__label {
  position: absolute;
  top: 14px;
  left: 16px;
  max-width: calc(100% - 32px);
  font-size: var(--font-size-subtitle-1);
  font-weight: var(--font-weight-subtitle-1);
  letter-spacing: var(--letter-spacing-subtitle-1);
  line-height: var(--line-height-subtitle-1);
  text-transform: var(--text-transform-subtitle-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-text-secondary-on-light);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing);
  transition:
    top .15s var(--transition-standart-easing),
    color .15s var(--transition-standart-easing),
    background-color .15s var(--transition-standart-easing),
    transform .15s var(--transition-standart-easing),
    -webkit-transform .15s var(--transition-standart-easing);
  pointer-events: none;
}
.base-text-field__label.is-raised,
.base-text-field__control:focus ~ .base-text-field__label {
  top: 0;
  background-color: var(--color-background);
  -webkit-box-shadow: 0 0 0 5px var(--color-background);
          box-shadow: 0 0 0 5px var(--color-background);
  -webkit-transform: translateY(-40%) scale(.75);
          transform: translateY(-40%) scale(.75);
}
.base-text-field__control:focus ~ .base-text-field__label {
  color: var(--color-primary);
}


.layout {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "action"
    "footer";
  grid-template-rows: -webkit-max-content auto -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content auto max-content max-content;
  min-height: 100%;
}


.layout-body {
  grid-area: body;
}


.layout-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: header;
  grid-auto-flow: column;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  grid-gap: 20px;
  display: grid;
  height: 56px;
  padding: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-on-background);
  background-color: var(--color-background);
}
















































































































































































































.base-details-card {
  padding: 8px;
}
.base-details-card__content {
  display: grid;
  grid-template-areas:
    "navigation image actions"
    "navigation image actions"
    "body body body";
  grid-template-columns: 96px auto 96px;
  padding: 4px 4px 16px;
  border-radius: 8px;
  -webkit-box-shadow: var(--shadow-elevation-2);
          box-shadow: var(--shadow-elevation-2);
}
.base-details-card__navigation {
  grid-area: navigation;
  justify-self: start;
}
.base-details-card__actions {
  grid-area: actions;
  justify-self: end;
}
.base-details-card__image {
  grid-area: image;
  justify-self: center;
  width: 64px;
  height: 64px;
  margin-top: 24px;
  background-color: var(--color-light);
  border-radius: 50%;
}
.base-details-card__body {
  display: grid;
  grid-area: body;
  grid-row-gap: 8px;
  padding-top: 16px;
  text-align: center;
}





































































.base-action-button {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  padding: 16px;
  line-height: 24px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border-radius: 28px;
  border: none;
  -webkit-box-shadow: var(--shadow-elevation-6);
          box-shadow: var(--shadow-elevation-6);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}


.base-list {
  padding-top: 8px;
  padding-bottom: 8px;
}


.base-categories-list-item {
  display: grid;
  grid-column-gap: 16px;
  grid-template-areas: "image name";
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding: 12px 16px;
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.base-categories-list-item__image {
  grid-area: image;
  width: 40px;
  height: 40px;
  background-color: var(--color-light);
  border-radius: 50%;
}
.base-categories-list-item__name {
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.base-categories-list {
}
.base-categories-list__item {
}


.layout-action {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  grid-area: action;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  pointer-events: none;
}
.layout-action__content {
  pointer-events: auto;
}









































































































































































































































































































































.base-wallets-list-item {
  display: grid;
  grid-column-gap: 16px;
  grid-template-areas: "image name balance";
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding: 12px 16px;
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.base-wallets-list-item__name,
.base-wallets-list-item__balance {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.base-wallets-list-item__image {
  grid-area: image;
  width: 40px;
  height: 40px;
  background-color: var(--color-light);
  border-radius: 50%;
}
.base-wallets-list-item__name {
  grid-area: name;
}
.base-wallets-list-item__balance {
  grid-area: balance;
}


.base-wallets-list {
}
.base-wallets-list__item {
}
















































































