/* ==========================================================================
   Material design - Card text
   ========================================================================== */
:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.md-card-text {
    padding: 8px 16px;
}